SharePoint/Source/Common/Proxy/MS-COPYS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/sharepoint/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" 
              targetNamespace="http://schemas.microsoft.com/sharepoint/soap/" 
              xmlns:tns="http://schemas.microsoft.com/sharepoint/soap/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="CopyIntoItemsLocal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SourceUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationUrls" type="tns:DestinationUrlCollection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DestinationUrlCollection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CopyIntoItemsLocalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CopyIntoItemsLocalResult" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:CopyResultCollection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CopyResultCollection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CopyResult" nillable="true" type="tns:CopyResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CopyResult">
        <s:attribute name="ErrorCode" type="tns:CopyErrorCode" use="required" />
        <s:attribute name="ErrorMessage" type="s:string" />
        <s:attribute name="DestinationUrl" type="s:string" use="required"  />
      </s:complexType>
      <s:simpleType name="CopyErrorCode">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="DestinationInvalid" />
          <s:enumeration value="DestinationMWS" />
          <s:enumeration value="SourceInvalid" />
          <s:enumeration value="DestinationCheckedOut" />
          <s:enumeration value="InvalidUrl" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CopyIntoItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SourceUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationUrls" type="tns:DestinationUrlCollection" />
            <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:FieldInformationCollection" />
            <s:element minOccurs="0" maxOccurs="1" name="Stream" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FieldInformationCollection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FieldInformation" type="tns:FieldInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FieldInformation">
        <s:attribute name="Type" type="tns:FieldType" use="required" />
        <s:attribute name="DisplayName" type="s:string" use="required"/>
        <s:attribute name="InternalName" type="s:string" use="required"/>
        <s:attribute name="Id" type="s1:guid" use="required"/>
        <s:attribute name="Value" type="s:string" />
      </s:complexType>
      <s:simpleType name="FieldType">
        <s:restriction base="s:string">
          <s:enumeration value="Invalid" />
          <s:enumeration value="Integer" />
          <s:enumeration value="Text" />
          <s:enumeration value="Note" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Counter" />
          <s:enumeration value="Choice" />
          <s:enumeration value="Lookup" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Number" />
          <s:enumeration value="Currency" />
          <s:enumeration value="URL" />
          <s:enumeration value="Computed" />
          <s:enumeration value="Threading" />
          <s:enumeration value="Guid" />
          <s:enumeration value="MultiChoice" />
          <s:enumeration value="GridChoice" />
          <s:enumeration value="Calculated" />
          <s:enumeration value="File" />
          <s:enumeration value="Attachments" />
          <s:enumeration value="User" />
          <s:enumeration value="Recurrence" />
          <s:enumeration value="CrossProjectLink" />
          <s:enumeration value="ModStat" />
          <s:enumeration value="AllDayEvent" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CopyIntoItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CopyIntoItemsResult" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:CopyResultCollection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetItemResult" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:FieldInformationCollection" />
            <s:element minOccurs="0" maxOccurs="1" name="Stream" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <!--This type is specified in section 2.2.2.1-->
      <s:complexType name="SOAPFaultDetails">
        <s:sequence>
          <s:element ref="tns:errorstring"/>
          <s:element ref ="tns:errorcode" minOccurs="0"/>
        </s:sequence>
      </s:complexType>

      <!--All Microsoft SharePoint products return a lowercase "detail" element in soap fault.-->
      <s:element name="detail" type="tns:SOAPFaultDetails" />
      <!--Standard SOAP fault contains an "detail" element.-->
      <s:element name="Detail" type="tns:SOAPFaultDetails" />

      <!--This element is specified in section 2.2.2.1-->
      <s:element name="errorstring" type="s:string"/>
      <!--This element is specified in section 2.2.2.1-->
      <s:element name="errorcode" type="s:string"/>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    
    
  </wsdl:types>
  <wsdl:message name="CopyIntoItemsLocalSoapIn">
    <wsdl:part name="parameters" element="tns:CopyIntoItemsLocal" />
  </wsdl:message>
  <wsdl:message name="CopyIntoItemsLocalSoapOut">
    <wsdl:part name="parameters" element="tns:CopyIntoItemsLocalResponse" />
  </wsdl:message>
  <wsdl:message name="CopyIntoItemsSoapIn">
    <wsdl:part name="parameters" element="tns:CopyIntoItems" />
  </wsdl:message>
  <wsdl:message name="CopyIntoItemsSoapOut">
    <wsdl:part name="parameters" element="tns:CopyIntoItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="GetItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:portType name="CopySoap">
    <wsdl:operation name="CopyIntoItemsLocal">
      <wsdl:input message="tns:CopyIntoItemsLocalSoapIn" />
      <wsdl:output message="tns:CopyIntoItemsLocalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CopyIntoItems">
      <wsdl:input message="tns:CopyIntoItemsSoapIn" />
      <wsdl:output message="tns:CopyIntoItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input message="tns:GetItemSoapIn" />
      <wsdl:output message="tns:GetItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CopySoap" type="tns:CopySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CopyIntoItemsLocal">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/CopyIntoItemsLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyIntoItems">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/CopyIntoItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CopySoap12" type="tns:CopySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CopyIntoItemsLocal">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/CopyIntoItemsLocal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyIntoItems">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/CopyIntoItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>