SharePoint/Source/Common/Proxy/MS-SITESS.wsdl

<wsdl:definitions 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://schemas.microsoft.com/sharepoint/soap/" 
xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/"
     xmlns:tns="http://schemas.microsoft.com/sharepoint/soap/">
      <s:element name="CreateWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="templateName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="locale" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="collationLocale" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="uniquePermissions" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="anonymous" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="presence" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CreateWeb">
                    <s:complexType>
                      <s:attribute name="Url" type="s:string"/>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWebResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SiteUrl"
                 type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSiteResult"
                 type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteTemplates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LCID"
                 type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteTemplatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSiteTemplatesResult"
                 type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="TemplateList"
                 type="tns:ArrayOfTemplate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTemplate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Template"
                 nillable="true" type="tns:Template" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Template">
        <s:attribute name="ID" type="s:int" use="required" />
        <s:attribute name="Title" type="s:string" use="required" />
        <s:attribute name="Name" type="s:string" use="required" />
        <s:attribute name="IsUnique" type="s:boolean" use="required" />
        <s:attribute name="IsHidden" type="s:boolean" use="required" />
        <s:attribute name="Description" type="s:string" />
        <s:attribute name="ImageUrl" type="s:string" use="required" />
        <s:attribute name="IsCustom" type="s:boolean" use="required" />
        <s:attribute name="IsSubWebOnly" type="s:boolean" use="required" />
        <s:attribute name="IsRootWebOnly" type="s:boolean" use="required" />
        <s:attribute name="DisplayCategory" type="s:string" />
        <s:attribute name="FilterCategories" type="s:string" />
        <s:attribute name="HasProvisionClass" type="s:boolean" use="required" />
      </s:complexType>
      <s:element name="GetUpdatedFormDigest">
        <s:complexType />
      </s:element>
      <s:element name="GetUpdatedFormDigestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1"
                 name="GetUpdatedFormDigestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
     <s:element name="GetUpdatedFormDigestInformation">  
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
     </s:element>
     <s:element name="GetUpdatedFormDigestInformationResponse">
       <s:complexType>
         <s:sequence>
           <s:element minOccurs="1" maxOccurs="1"
                      name="GetUpdatedFormDigestInformationResult"
                      type="tns:FormDigestInformation" />
         </s:sequence>
       </s:complexType>
     </s:element>
     <s:complexType name="FormDigestInformation">
       <s:sequence>
         <s:element minOccurs="0" maxOccurs="1" name="DigestValue" type="s:string" /> 
         <s:element minOccurs="1" maxOccurs="1" name="TimeoutSeconds" type="s:int" /> 
         <s:element minOccurs="0" maxOccurs="1" name="WebFullUrl" type="s:string" />
         <s:element minOccurs="0" maxOccurs="1" name="LibraryVersion" type="s:VersionStringType"/>
         <s:element minOccurs="0" maxOccurs="1" name="SupportedSchemaVersions" type="s:string" />
       </s:sequence>
     </s:complexType>
      	      <s:element name="IsScriptSafeUrl">
	        <s:complexType>
	          <s:sequence>
	            <s:element minOccurs="0" maxOccurs="1" name="urls" type="tns:ArrayOfString" />
	          </s:sequence>
	        </s:complexType>
	      </s:element>
	      <s:element name="IsScriptSafeUrlResponse">
	        <s:complexType>
	          <s:sequence>
	            <s:element minOccurs="1" maxOccurs="1" name="IsScriptSafeUrlResult" type="tns:ArrayOfBoolean" />
	          </s:sequence>
	        </s:complexType>
	      </s:element>
    <s:element name="IsScriptSafeUrlUsingCustomizedDomain">
		  <s:complexType>
		    <s:sequence>
		      <s:element name="urls" type="tns:ArrayOfString" maxOccurs="1" minOccurs="0"/>
		    </s:sequence>
		  </s:complexType>
		</s:element>
    <s:element name="IsScriptSafeUrlUsingCustomizedDomainResponse">
		  <s:complexType>
		    <s:sequence>
		      <s:element minOccurs="1" maxOccurs="1" name="IsScriptSafeUrlUsingCustomizedDomainResult" type="tns:ArrayOfBoolean" />
		    </s:sequence>
		  </s:complexType>
		</s:element>
      <s:element name="ExportWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="jobName"
                 type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="webUrl" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dataPath"
                 type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="includeSubwebs"
                 type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="includeUserSecurity"
                 type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="overWrite"
                 type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="cabSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExportWebResult"
                 type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="jobName"
                 type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="webUrl" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dataFiles"
                 type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="logPath"
                 type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="includeUserSecurity"
                 type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="overWrite"
                 type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="unbounded" name="string"
                 nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
	      <s:complexType name="ArrayOfBoolean">
	        <s:sequence>
	          <s:element minOccurs="0" maxOccurs="unbounded" name="boolean" type="s:boolean" />
	        </s:sequence>
	      </s:complexType>
      <s:element name="ImportWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImportWebResult"
                 type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportSolution">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="solutionFileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fullReuseExportMode" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="includeWebContent" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportSolutionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExportSolutionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
     <s:element name="ExportWorkflowTemplate">
        <s:complexType>
            <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="solutionFileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workflowTemplateName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="destinationListUrl" type="s:string" />
         </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportWorkflowTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="ExportWorkflowTemplateResult" minOccurs="1" maxOccurs="1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <!-- MS-SITESS SOAPFaultDetail Schema Definition -->
    <s:schema elementFormDefault="qualified" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.microsoft.com/sharepoint/soap/" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/">
      <s:complexType name="SOAPFaultDetails">
        <s:sequence>
          <s:element name="errorstring" type="s:string"/>
          <s:element name="errorcode" type="s:string" minOccurs="0"/>
        </s:sequence>
      </s:complexType>
      <s:element name ="detail" type="tns:SOAPFaultDetails"/>
      <s:element name ="Detail" type="tns:SOAPFaultDetails"/>
    </s:schema>
    <!--This schema is copied from MS-CSOM 3.1.4.1.4.11 VersionStringType.-->
    <s:schema elementFormDefault="qualified" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/2001/XMLSchema">   
      <s:simpleType name="VersionStringType">
        <s:restriction base="s:string">
          <s:pattern value="[0-9]{1,8}\.[0-9]{1,8}\.[0-9]{1,8}\.[0-9]{1,8}"/>
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateWebSoapIn">
    <wsdl:part name="parameters" element="tns:CreateWeb" />
  </wsdl:message>
  <wsdl:message name="CreateWebSoapOut">
    <wsdl:part name="parameters" element="tns:CreateWebResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWebSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteWeb" />
  </wsdl:message>
  <wsdl:message name="DeleteWebSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteWebResponse" />
  </wsdl:message>
  <wsdl:message name="GetSiteSoapIn">
    <wsdl:part name="parameters" element="tns:GetSite" />
  </wsdl:message>
  <wsdl:message name="GetSiteSoapOut">
    <wsdl:part name="parameters" element="tns:GetSiteResponse" />
  </wsdl:message>  
  <wsdl:message name="GetSiteTemplatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSiteTemplates" />
  </wsdl:message>
  <wsdl:message name="GetSiteTemplatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSiteTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdatedFormDigestSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdatedFormDigest" />
  </wsdl:message>
  <wsdl:message name="GetUpdatedFormDigestSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdatedFormDigestResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdatedFormDigestInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdatedFormDigestInformation" />
  </wsdl:message>
  <wsdl:message name="GetUpdatedFormDigestInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdatedFormDigestInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ExportWebSoapIn">
    <wsdl:part name="parameters" element="tns:ExportWeb" />
  </wsdl:message>
  <wsdl:message name="ExportWebSoapOut">
    <wsdl:part name="parameters" element="tns:ExportWebResponse" />
  </wsdl:message>
  <wsdl:message name="ImportWebSoapIn">
    <wsdl:part name="parameters" element="tns:ImportWeb" />
  </wsdl:message>
  <wsdl:message name="ImportWebSoapOut">
    <wsdl:part name="parameters" element="tns:ImportWebResponse" />
  </wsdl:message>
  <wsdl:message name="ExportSolutionSoapIn">
    <wsdl:part name="parameters" element="tns:ExportSolution" />
  </wsdl:message>
  <wsdl:message name="ExportSolutionSoapOut">
    <wsdl:part name="parameters" element="tns:ExportSolutionResponse" />
  </wsdl:message>
  <wsdl:message name="IsScriptSafeUrlUsingCustomizedDomainSoapIn">
    <wsdl:part name="parameters" element="tns:IsScriptSafeUrlUsingCustomizedDomain" />
  </wsdl:message>
  <wsdl:message name="IsScriptSafeUrlUsingCustomizedDomainSoapOut">
    <wsdl:part name="parameters" element="tns:IsScriptSafeUrlUsingCustomizedDomainResponse" />
  </wsdl:message>
  <wsdl:message name="ExportWorkflowTemplateSoapIn">
    <wsdl:part name="parameters" element="tns:ExportWorkflowTemplate" />
  </wsdl:message>
  <wsdl:message name="ExportWorkflowTemplateSoapOut">
    <wsdl:part name="parameters" element="tns:ExportWorkflowTemplateResponse" />
  </wsdl:message>
  <wsdl:portType name="SitesSoap">
    <wsdl:operation name="CreateWeb">
      <wsdl:input message="tns:CreateWebSoapIn" />
      <wsdl:output message="tns:CreateWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWeb">
      <wsdl:input message="tns:DeleteWebSoapIn" />
      <wsdl:output message="tns:DeleteWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSite">
      <wsdl:input message="tns:GetSiteSoapIn" />
      <wsdl:output message="tns:GetSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteTemplates">
      <wsdl:input message="tns:GetSiteTemplatesSoapIn" />
      <wsdl:output message="tns:GetSiteTemplatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedFormDigest">
      <wsdl:input message="tns:GetUpdatedFormDigestSoapIn" />
      <wsdl:output message="tns:GetUpdatedFormDigestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedFormDigestInformation">
      <wsdl:input message="tns:GetUpdatedFormDigestInformationSoapIn" />
      <wsdl:output message="tns:GetUpdatedFormDigestInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportWeb">
      <wsdl:input message="tns:ExportWebSoapIn" />
      <wsdl:output message="tns:ExportWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportWeb">
      <wsdl:input message="tns:ImportWebSoapIn" />
      <wsdl:output message="tns:ImportWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportSolution">
      <wsdl:input message="tns:ExportSolutionSoapIn" />
      <wsdl:output message="tns:ExportSolutionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportWorkflowTemplate">
      <wsdl:input message="tns:ExportWorkflowTemplateSoapIn" />
      <wsdl:output message="tns:ExportWorkflowTemplateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsScriptSafeUrlUsingCustomizedDomain">
		  <wsdl:input message="tns:IsScriptSafeUrlUsingCustomizedDomainSoapIn" />
		  <wsdl:output message="tns:IsScriptSafeUrlUsingCustomizedDomainSoapOut" />
		</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SitesSoap" type="tns:SitesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateWeb">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/CreateWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsScriptSafeUrlUsingCustomizedDomain">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/IsScriptSafeUrlUsingCustomizedDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWeb">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSite">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteTemplates">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetSiteTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedFormDigest">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetUpdatedFormDigest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedFormDigestInformation">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetUpdatedFormDigestInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportWeb">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/ExportWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportWeb">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/ImportWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportSolution">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/ExportSolution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportWorkflowTemplate">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/ExportWorkflowTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SitesSoap12" type="tns:SitesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateWeb">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/CreateWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsScriptSafeUrlUsingCustomizedDomain">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/IsScriptSafeUrlUsingCustomizedDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWeb">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSite">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteTemplates">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetSiteTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedFormDigest">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetUpdatedFormDigest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedFormDigestInformation">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetUpdatedFormDigestInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportWeb">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/ExportWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportWeb">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/ImportWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportSolution">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/ExportSolution" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportWorkflowTemplate">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/ExportWorkflowTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>