SharePoint/Source/Common/Proxy/MS-VERSS.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/sharepoint/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:complexType name="VersionData">
        <s:attribute name="version" type="s:string" use="required" />
        <s:attribute name="url" type="s:string" use="required" />
        <s:attribute name="created" type="s:string" use="required" />
        <!--Windows SharePoint Services 3.0 does not return the attribute 'createdRaw'. For the different behaviors among versions,
        TD had been added endnote to specify the difference, then update this attribute in WSDL file.
        change use="required" to use="optional" for different behaviors.-->
        <s:attribute name="createdRaw" type="s:string" use="optional" />
        <s:attribute name="createdBy" type="s:string" use="required" />
        <s:attribute name="createdByName" type="s:string" use="optional" />
        <s:attribute name="size" type="s:unsignedLong" use="required" />
        <s:attribute name="comments" type="s:string" use="required" />
      </s:complexType>
      <s:complexType name="Results">
        <s:sequence>
          <s:element name="list" maxOccurs="1" minOccurs="1">
            <s:complexType>
              <s:attribute name="id" type="s:string" use="required" />
            </s:complexType>
          </s:element>
          <s:element name="versioning" maxOccurs="1" minOccurs="1">
            <s:complexType>
              <s:attribute name="enabled" type="s:unsignedByte" use="required" />
            </s:complexType>
          </s:element>
          <s:element name="settings" maxOccurs="1" minOccurs="1">
            <s:complexType>
              <s:attribute name="url" type="s:string" use="required" />
            </s:complexType>
          </s:element>
          <s:element maxOccurs="unbounded" minOccurs="1" name="result" type="tns:VersionData"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetVersions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetVersionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element name="results" minOccurs="1" maxOccurs="1" type="tns:Results" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestoreVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestoreVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RestoreVersionResult">
              <s:complexType>
                <s:sequence>
                  <s:element name="results" minOccurs="1" maxOccurs="1" type="tns:Results" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteVersionResult">
              <s:complexType>
                <s:sequence>
                  <s:element name="results" minOccurs="1" maxOccurs="1" type="tns:Results" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAllVersions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAllVersionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAllVersionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element name="results" minOccurs="1" maxOccurs="1" type="tns:Results" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <!-- MS-VERSS SOAPFaultDetail Schema Definition -->
    <s:schema elementFormDefault="qualified" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.microsoft.com/sharepoint/soap/"
      targetNamespace="http://schemas.microsoft.com/sharepoint/soap/">
      <s:complexType name="SOAPFaultDetail">
        <s:sequence>
          <s:element name="errorstring" type="s:string"/>
          <s:element name="errorcode" type="s:string" minOccurs="0"/>
        </s:sequence>
      </s:complexType>
      <s:element name ="detail" type="tns:SOAPFaultDetail"/>
      <s:element name ="Detail" type="tns:SOAPFaultDetail"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVersionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersions" />
  </wsdl:message>
  <wsdl:message name="GetVersionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="RestoreVersionSoapIn">
    <wsdl:part name="parameters" element="tns:RestoreVersion" />
  </wsdl:message>
  <wsdl:message name="RestoreVersionSoapOut">
    <wsdl:part name="parameters" element="tns:RestoreVersionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteVersionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteVersion" />
  </wsdl:message>
  <wsdl:message name="DeleteVersionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteVersionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAllVersionsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAllVersions" />
  </wsdl:message>
  <wsdl:message name="DeleteAllVersionsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAllVersionsResponse" />
  </wsdl:message>
  <wsdl:portType name="VersionsSoap">
    <wsdl:operation name="GetVersions">
      <wsdl:input message="tns:GetVersionsSoapIn" />
      <wsdl:output message="tns:GetVersionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RestoreVersion">
      <wsdl:input message="tns:RestoreVersionSoapIn" />
      <wsdl:output message="tns:RestoreVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVersion">
      <wsdl:input message="tns:DeleteVersionSoapIn" />
      <wsdl:output message="tns:DeleteVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllVersions">
      <wsdl:input message="tns:DeleteAllVersionsSoapIn" />
      <wsdl:output message="tns:DeleteAllVersionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VersionsSoap" type="tns:VersionsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersions">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetVersions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreVersion">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/RestoreVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVersion">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllVersions">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteAllVersions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VersionsSoap12" type="tns:VersionsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersions">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetVersions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreVersion">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/RestoreVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVersion">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllVersions">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteAllVersions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
