ExchangeWebServices/Source/Common/SchemaValidation/MS-OXWSGNI-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/messages" version="Exchange2016" id="messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="MS-OXWSGNI-types.xsd" namespace="http://schemas.microsoft.com/exchange/services/2006/types"/>
  <xs:include schemaLocation="MS-OXWSCDATA-messages.xsd"/>
  <xs:complexType name="GetNonIndexableItemStatisticsType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestType">
        <xs:sequence>
          <xs:element minOccurs="1" name="Mailboxes" type="t:NonEmptyArrayOfLegacyDNsType"/>
          <xs:element minOccurs="0" name="SearchArchiveOnly" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetNonIndexableItemStatistics" type="tns:GetNonIndexableItemStatisticsType"/>
  <xs:complexType name="GetNonIndexableItemStatisticsResponseMessageType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="NonIndexableItemStatistics" type="t:ArrayOfNonIndexableItemStatisticsType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetNonIndexableItemStatisticsResponse" type="tns:GetNonIndexableItemStatisticsResponseMessageType"/>
  <xs:complexType name="GetNonIndexableItemDetailsType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestType">
        <xs:sequence>
          <xs:element minOccurs="1" name="Mailboxes" type="t:NonEmptyArrayOfLegacyDNsType"/>
          <xs:element minOccurs="0" name="PageSize" type="xs:int"/>
          <xs:element minOccurs="0" name="PageItemReference" type="xs:string"/>
          <xs:element minOccurs="0" name="PageDirection" type="t:SearchPageDirectionType"/>
          <xs:element minOccurs="0" name="SearchArchiveOnly" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetNonIndexableItemDetails" type="tns:GetNonIndexableItemDetailsType"/>
  <xs:complexType name="GetNonIndexableItemDetailsResponseMessageType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" name="NonIndexableItemDetailsResult" type="t:NonIndexableItemDetailResultType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetNonIndexableItemDetailsResponse" type="tns:GetNonIndexableItemDetailsResponseMessageType"/>
</xs:schema>
