ExchangeWebServices/Source/Common/SchemaValidation/MS-OXWSCEXT-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/types" version="Exchange2016" id="types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
  <xs:complexType name="ClientAccessTokenRequestType">
    <xs:sequence>
      <xs:element name="Id" type="xs:string"/>
      <xs:element name="TokenType" type="t:ClientAccessTokenTypeType"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Scope" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClientAccessTokenType">
    <xs:sequence>
      <xs:element name="Id" type="xs:string"/>
      <xs:element name="TokenType" type="t:ClientAccessTokenTypeType"/>
      <xs:element name="TokenValue" type="xs:string"/>
      <xs:element name="TTL" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ClientAccessTokenTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CallerIdentity"/>
      <xs:enumeration value="ExtensionCallback"/>
      <xs:enumeration value="ScopedToken"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DisableReasonType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoReason"/>
      <xs:enumeration value="OutlookClientPerformance"/>
      <xs:enumeration value="OWAClientPerformance"/>
      <xs:enumeration value="MobileClientPerformance"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NonEmptyArrayOfClientAccessTokenRequestsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TokenRequest" type="t:ClientAccessTokenRequestType"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
