ExchangeWebServices/Source/Common/SchemaValidation/MS-OXWSCDATA-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/types" elementFormDefault="qualified" version="Exchange2016" id="types">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
  <xs:include schemaLocation="MS-OXWSMSG-types.xsd"/>
  <xs:include schemaLocation="MS-OXWSFOLD-types.xsd"/>
  <xs:include schemaLocation="MS-OXWSATT-types.xsd"/>
  <xs:include schemaLocation="MS-OXWSDLIST-types.xsd"/>
  <xs:include schemaLocation="MS-OXWSTASK-types.xsd"/>
  <xs:include schemaLocation="MS-OXWSUSRCFG-types.xsd"/>
  <xs:complexType name="AbsoluteMonthlyRecurrencePatternType">
    <xs:complexContent>
      <xs:extension base="t:IntervalRecurrencePatternBaseType">
        <xs:sequence>
          <xs:element name="DayOfMonth" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AbsoluteYearlyRecurrencePatternType">
    <xs:complexContent>
      <xs:extension base="t:RecurrencePatternBaseType">
        <xs:sequence>
          <xs:element name="DayOfMonth" type="xs:int"/>
          <xs:element name="Month" type="t:MonthNamesType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AcceptSharingInvitationType">
    <xs:complexContent>
      <xs:extension base="t:ReferenceItemResponseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfCalendarPermissionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="CalendarPermission" type="t:CalendarPermissionType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ArrayOfEmailAddressesType">
    <xs:sequence>
      <xs:element name="Address" type="t:EmailAddressType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfHighlightTermsType">
    <xs:sequence>
      <xs:element name="Term" type="t:HighlightTermType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPermissionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Permission" type="t:PermissionType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ArrayOfRealItemsType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Item" type="t:ItemType"/>
        <xs:element name="Message" type="t:MessageType"/>
        <xs:element name="CalendarItem" type="t:CalendarItemType"/>
        <xs:element name="Contact" type="t:ContactItemType"/>
        <xs:element name="DistributionList" type="t:DistributionListType"/>
        <xs:element name="MeetingMessage" type="t:MeetingMessageType"/>
        <xs:element name="MeetingRequest" type="t:MeetingRequestMessageType"/>
        <xs:element name="MeetingResponse" type="t:MeetingResponseMessageType"/>
        <xs:element name="MeetingCancellation" type="t:MeetingCancellationMessageType"/>
        <xs:element name="Task" type="t:TaskType"/>
        <xs:element name="PostItem" type="t:PostItemType"/>
        <xs:element name="RoleMember" type="t:RoleMemberItemType"/>
        <xs:element name="Network" type="t:NetworkItemType"/>
        <xs:element name="Person" type="t:AbchPersonItemType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfRecipientsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Mailbox" type="t:EmailAddressType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ArrayOfStringsType">
    <xs:sequence>
      <xs:element name="String" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaseEmailAddressType"/>
  <xs:complexType name="BaseItemIdType" abstract="true"/>
  <xs:complexType name="BasePathToElementType" abstract="true"/>
  <xs:complexType name="BodyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="BodyType" type="t:BodyTypeType" use="required"/>
        <xs:attribute name="IsTruncated" type="xs:boolean" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="BodyTypeResponseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Best"/>
      <xs:enumeration value="HTML"/>
      <xs:enumeration value="Text"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BodyTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HTML"/>
      <xs:enumeration value="Text"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ChangeHighlightsType">
    <xs:sequence>
      <xs:element name="HasLocationChanged" type="xs:boolean" minOccurs="0"/>
      <xs:element name="Location" type="xs:string" minOccurs="0"/>
      <xs:element name="HasStartTimeChanged" type="xs:boolean" minOccurs="0"/>
      <xs:element name="Start" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="HasEndTimeChanged" type="xs:boolean" minOccurs="0"/>
      <xs:element name="End" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConnectingSIDType">
    <xs:choice>
      <xs:element name="PrincipalName" type="t:PrincipalNameType"/>
      <xs:element name="SID" type="t:SIDType"/>
      <xs:element name="PrimarySmtpAddress" type="t:PrimarySmtpAddressType"/>
      <xs:element name="SmtpAddress" type="t:SmtpAddressType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PrincipalNameType">
    <xs:simpleContent>
      <xs:extension base="t:NonEmptyStringType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SIDType">
    <xs:simpleContent>
      <xs:extension base="t:NonEmptyStringType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConstantValueType">
    <xs:attribute name="Value" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="DailyRecurrencePatternType">
    <xs:complexContent>
      <xs:extension base="t:IntervalRecurrencePatternBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DateTimePrecisionType">
    <xs:annotation>
      <xs:documentation>Precision for returned DateTime values</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Seconds"/>
      <xs:enumeration value="Milliseconds"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DateTimePrecision" type="t:DateTimePrecisionType"/>
  <xs:simpleType name="DayOfWeekIndexType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="First"/>
      <xs:enumeration value="Second"/>
      <xs:enumeration value="Third"/>
      <xs:enumeration value="Fourth"/>
      <xs:enumeration value="Last"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DayOfWeekType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sunday"/>
      <xs:enumeration value="Monday"/>
      <xs:enumeration value="Tuesday"/>
      <xs:enumeration value="Wednesday"/>
      <xs:enumeration value="Thursday"/>
      <xs:enumeration value="Friday"/>
      <xs:enumeration value="Saturday"/>
      <xs:enumeration value="Day"/>
      <xs:enumeration value="Weekday"/>
      <xs:enumeration value="WeekendDay"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DaysOfWeekType">
    <xs:list itemType="t:DayOfWeekType"/>
  </xs:simpleType>
  <xs:simpleType name="DefaultShapeNamesType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IdOnly"/>
      <xs:enumeration value="Default"/>
      <xs:enumeration value="AllProperties"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DeletedOccurrenceInfoType">
    <xs:sequence>
      <xs:element name="Start" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DictionaryURIType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="item:InternetMessageHeader"/>
      <xs:enumeration value="contacts:ImAddress"/>
      <xs:enumeration value="contacts:PhysicalAddress:Street"/>
      <xs:enumeration value="contacts:PhysicalAddress:City"/>
      <xs:enumeration value="contacts:PhysicalAddress:State"/>
      <xs:enumeration value="contacts:PhysicalAddress:CountryOrRegion"/>
      <xs:enumeration value="contacts:PhysicalAddress:PostalCode"/>
      <xs:enumeration value="contacts:PhoneNumber"/>
      <xs:enumeration value="contacts:EmailAddress"/>
      <xs:enumeration value="distributionlist:Members:Member"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DisposalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HardDelete"/>
      <xs:enumeration value="SoftDelete"/>
      <xs:enumeration value="MoveToDeletedItems"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DistinguishedFolderIdNameType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="calendar"/>
      <xs:enumeration value="contacts"/>
      <xs:enumeration value="deleteditems"/>
      <xs:enumeration value="drafts"/>
      <xs:enumeration value="inbox"/>
      <xs:enumeration value="journal"/>
      <xs:enumeration value="notes"/>
      <xs:enumeration value="outbox"/>
      <xs:enumeration value="sentitems"/>
      <xs:enumeration value="tasks"/>
      <xs:enumeration value="msgfolderroot"/>
      <xs:enumeration value="publicfoldersroot"/>
      <xs:enumeration value="root"/>
      <xs:enumeration value="junkemail"/>
      <xs:enumeration value="searchfolders"/>
      <xs:enumeration value="voicemail"/>
      <xs:enumeration value="recoverableitemsroot"/>
      <xs:enumeration value="recoverableitemsdeletions"/>
      <xs:enumeration value="recoverableitemsversions"/>
      <xs:enumeration value="recoverableitemspurges"/>
      <xs:enumeration value="recoverableitemsdiscoveryholds"/>
      <xs:enumeration value="archiveroot"/>
      <xs:enumeration value="archivemsgfolderroot"/>
      <xs:enumeration value="archivedeleteditems"/>
      <xs:enumeration value="archiveinbox"/>
      <xs:enumeration value="archiverecoverableitemsroot"/>
      <xs:enumeration value="archiverecoverableitemsdeletions"/>
      <xs:enumeration value="archiverecoverableitemsversions"/>
      <xs:enumeration value="archiverecoverableitemspurges"/>
      <xs:enumeration value="archiverecoverableitemsdiscoveryholds"/>
      <xs:enumeration value="syncissues"/>
      <xs:enumeration value="conflicts"/>
      <xs:enumeration value="localfailures"/>
      <xs:enumeration value="serverfailures"/>
      <xs:enumeration value="recipientcache"/>
      <xs:enumeration value="quickcontacts"/>
      <xs:enumeration value="conversationhistory"/>
      <xs:enumeration value="adminauditlogs"/>
      <xs:enumeration value="todosearch"/>
      <xs:enumeration value="mycontacts"/>
      <xs:enumeration value="directory"/>
      <xs:enumeration value="imcontactlist"/>
      <xs:enumeration value="peopleconnect"/>
      <xs:enumeration value="favorites"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DistinguishedFolderIdType">
    <xs:complexContent>
      <xs:extension base="t:BaseFolderIdType">
        <xs:sequence>
          <xs:element name="Mailbox" type="t:EmailAddressType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Id" type="t:DistinguishedFolderIdNameType" use="required"/>
        <xs:attribute name="ChangeKey" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DistinguishedPropertySetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Meeting"/>
      <xs:enumeration value="Appointment"/>
      <xs:enumeration value="Common"/>
      <xs:enumeration value="PublicStrings"/>
      <xs:enumeration value="Address"/>
      <xs:enumeration value="InternetHeaders"/>
      <xs:enumeration value="CalendarAssistant"/>
      <xs:enumeration value="UnifiedMessaging"/>
      <xs:enumeration value="Task"/>
      <xs:enumeration value="Sharing"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DistinguishedUserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default"/>
      <xs:enumeration value="Anonymous"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Duration">
    <xs:sequence>
      <xs:element name="StartTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
      <xs:element name="EndTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EffectiveRightsType">
    <xs:sequence>
      <xs:element name="CreateAssociated" type="xs:boolean"/>
      <xs:element name="CreateContents" type="xs:boolean"/>
      <xs:element name="CreateHierarchy" type="xs:boolean"/>
      <xs:element name="Delete" type="xs:boolean"/>
      <xs:element name="Modify" type="xs:boolean"/>
      <xs:element name="Read" type="xs:boolean"/>
      <xs:element name="ViewPrivateItems" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmailAddress">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Address" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="RoutingType" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmailAddressType">
    <xs:complexContent>
      <xs:extension base="t:BaseEmailAddressType">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" minOccurs="0"/>
          <xs:element name="EmailAddress" type="t:NonEmptyStringType" minOccurs="0"/>
          <xs:element name="RoutingType" type="t:NonEmptyStringType" minOccurs="0"/>
          <xs:element name="MailboxType" type="t:MailboxTypeType" minOccurs="0"/>
          <xs:element name="ItemId" type="t:ItemIdType" minOccurs="0"/>
          <xs:element name="OriginalDisplayName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EndDateRecurrenceRangeType">
    <xs:complexContent>
      <xs:extension base="t:RecurrenceRangeBaseType">
        <xs:sequence>
          <xs:element name="EndDate" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExceptionFieldURI" type="t:PathToExceptionFieldType"/>
  <xs:simpleType name="ExceptionPropertyURIType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="attachment:Name"/>
      <xs:enumeration value="attachment:ContentType"/>
      <xs:enumeration value="attachment:Content"/>
      <xs:enumeration value="recurrence:Month"/>
      <xs:enumeration value="recurrence:DayOfWeekIndex"/>
      <xs:enumeration value="recurrence:DaysOfWeek"/>
      <xs:enumeration value="recurrence:DayOfMonth"/>
      <xs:enumeration value="recurrence:Interval"/>
      <xs:enumeration value="recurrence:NumberOfOccurrences"/>
      <xs:enumeration value="timezone:Offset"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ExchangeImpersonationType">
    <xs:sequence>
      <xs:element name="ConnectingSID" type="t:ConnectingSIDType"/>
    </xs:sequence>
    <xs:anyAttribute namespace="http://schemas.xmlsoap.org/soap/envelope/"/>
  </xs:complexType>
  <xs:element name="ExchangeImpersonation" type="t:ExchangeImpersonationType"/>
  <xs:simpleType name="ExchangeVersionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exchange2007"/>
      <xs:enumeration value="Exchange2007_SP1"/>
      <xs:enumeration value="Exchange2010"/>
      <xs:enumeration value="Exchange2010_SP1"/>
      <xs:enumeration value="Exchange2010_SP2"/>
      <xs:enumeration value="Exchange2013"/>
      <xs:enumeration value="Exchange2013_SP1"/>
      <xs:enumeration value="Exchange2016"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExcludesAttributeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="((0x|0X)[0-9A-Fa-f]*)|([0-9]*)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IconIndexType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default"/>
      <xs:enumeration value="PostItem"/>
      <xs:enumeration value="MailRead"/>
      <xs:enumeration value="MailUnread"/>
      <xs:enumeration value="MailReplied"/>
      <xs:enumeration value="MailForwarded"/>
      <xs:enumeration value="MailEncrypted"/>
      <xs:enumeration value="MailSmimeSigned"/>
      <xs:enumeration value="MailEncryptedReplied"/>
      <xs:enumeration value="MailSmimeSignedReplied"/>
      <xs:enumeration value="MailEncryptedForwarded"/>
      <xs:enumeration value="MailSmimeSignedForwarded"/>
      <xs:enumeration value="MailEncryptedRead"/>
      <xs:enumeration value="MailSmimeSignedRead"/>
      <xs:enumeration value="MailIrm"/>
      <xs:enumeration value="MailIrmForwarded"/>
      <xs:enumeration value="MailIrmReplied"/>
      <xs:enumeration value="SmsSubmitted"/>
      <xs:enumeration value="SmsRoutedToDeliveryPoint"/>
      <xs:enumeration value="SmsRoutedToExternalMessagingSystem"/>
      <xs:enumeration value="SmsDelivered"/>
      <xs:enumeration value="OutlookDefaultForContacts"/>
      <xs:enumeration value="AppointmentItem"/>
      <xs:enumeration value="AppointmentRecur"/>
      <xs:enumeration value="AppointmentMeet"/>
      <xs:enumeration value="AppointmentMeetRecur"/>
      <xs:enumeration value="AppointmentMeetNY"/>
      <xs:enumeration value="AppointmentMeetYes"/>
      <xs:enumeration value="AppointmentMeetNo"/>
      <xs:enumeration value="AppointmentMeetMaybe"/>
      <xs:enumeration value="AppointmentMeetCancel"/>
      <xs:enumeration value="AppointmentMeetInfo"/>
      <xs:enumeration value="TaskItem"/>
      <xs:enumeration value="TaskRecur"/>
      <xs:enumeration value="TaskOwned"/>
      <xs:enumeration value="TaskDelegated"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FieldURI" type="t:PathToUnindexedFieldType" substitutionGroup="t:Path"/>
  <xs:complexType name="FieldURIOrConstantType">
    <xs:choice>
      <xs:element ref="t:Path"/>
      <xs:element name="Constant" type="t:ConstantValueType"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="FlagStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotFlagged"/>
      <xs:enumeration value="Flagged"/>
      <xs:enumeration value="Complete"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="FindResponsePagingAttributes">
    <xs:attribute name="IndexedPagingOffset" type="xs:int" use="optional"/>
    <xs:attribute name="NumeratorOffset" type="xs:int" use="optional"/>
    <xs:attribute name="AbsoluteDenominator" type="xs:int" use="optional"/>
    <xs:attribute name="IncludesLastItemInRange" type="xs:boolean" use="optional"/>
    <xs:attribute name="TotalItemsInView" type="xs:int" use="optional"/>
  </xs:attributeGroup>
  <xs:complexType name="FolderIdType">
    <xs:complexContent>
      <xs:extension base="t:BaseFolderIdType">
        <xs:attribute name="Id" type="xs:string" use="required"/>
        <xs:attribute name="ChangeKey" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FolderResponseShapeType">
    <xs:sequence>
      <xs:element name="BaseShape" type="t:DefaultShapeNamesType"/>
      <xs:element name="AdditionalProperties" type="t:NonEmptyArrayOfPathsToElementType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ForwardItemType">
    <xs:complexContent>
      <xs:extension base="t:SmartResponseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HighlightTermType">
    <xs:sequence>
      <xs:element name="Scope" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexedFieldURI" type="t:PathToIndexedFieldType" substitutionGroup="t:Path"/>
  <xs:simpleType name="InferredImportanceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unimportant"/>
      <xs:enumeration value="None"/>
      <xs:enumeration value="Important"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InternetHeaderType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="HeaderName" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IntervalRecurrencePatternBaseType" abstract="true">
    <xs:complexContent>
      <xs:extension base="t:RecurrencePatternBaseType">
        <xs:sequence>
          <xs:element name="Interval" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemResponseShapeType">
    <xs:sequence>
      <xs:element name="BaseShape" type="t:DefaultShapeNamesType"/>
      <xs:element name="IncludeMimeContent" type="xs:boolean" minOccurs="0"/>
      <xs:element name="BodyType" type="t:BodyTypeResponseType" minOccurs="0"/>
      <xs:element name="UniqueBodyType" type="t:BodyTypeResponseType" minOccurs="0"/>
      <xs:element name="NormalizedBodyType" type="t:BodyTypeResponseType" minOccurs="0"/>
      <xs:element name="FilterHtmlContent" type="xs:boolean" minOccurs="0"/>
      <xs:element name="ConvertHtmlCodePageToUTF8" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="InlineImageUrlTemplate" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="BlockExternalImages" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AddBlankTargetToLinks" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="MaximumBodySize" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AdditionalProperties" type="t:NonEmptyArrayOfPathsToElementType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LegacyFreeBusyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Free"/>
      <xs:enumeration value="Tentative"/>
      <xs:enumeration value="Busy"/>
      <xs:enumeration value="OOF"/>
      <xs:enumeration value="WorkingElsewhere"/>
      <xs:enumeration value="NoData"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MailboxCultureType">
    <xs:simpleContent>
      <xs:extension base="xs:language">
        <xs:anyAttribute namespace="http://schemas.xmlsoap.org/soap/envelope/"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="MailboxCulture" type="t:MailboxCultureType"/>
  <xs:simpleType name="MailboxTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown"/>
      <xs:enumeration value="OneOff"/>
      <xs:enumeration value="Mailbox"/>
      <xs:enumeration value="PublicDL"/>
      <xs:enumeration value="PrivateDL"/>
      <xs:enumeration value="Contact"/>
      <xs:enumeration value="PublicFolder"/>
      <xs:enumeration value="GroupMailbox"/>

    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ManagementRoleType">
    <xs:sequence>
      <xs:element name="UserRoles" type="t:NonEmptyArrayOfRoleType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ApplicationRoles" type="t:NonEmptyArrayOfRoleType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManagementRole" type="t:ManagementRoleType"/>
  <xs:simpleType name="MonthNamesType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="January"/>
      <xs:enumeration value="February"/>
      <xs:enumeration value="March"/>
      <xs:enumeration value="April"/>
      <xs:enumeration value="May"/>
      <xs:enumeration value="June"/>
      <xs:enumeration value="July"/>
      <xs:enumeration value="August"/>
      <xs:enumeration value="September"/>
      <xs:enumeration value="October"/>
      <xs:enumeration value="November"/>
      <xs:enumeration value="December"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NoEndRecurrenceRangeType">
    <xs:complexContent>
      <xs:extension base="t:RecurrenceRangeBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NonEmptyArrayOfAllItemsType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Item" type="t:ItemType"/>
        <xs:element name="Message" type="t:MessageType"/>
        <xs:element name="CalendarItem" type="t:CalendarItemType"/>
        <xs:element name="Contact" type="t:ContactItemType"/>
        <xs:element name="DistributionList" type="t:DistributionListType"/>
        <xs:element name="MeetingMessage" type="t:MeetingMessageType"/>
        <xs:element name="MeetingRequest" type="t:MeetingRequestMessageType"/>
        <xs:element name="MeetingResponse" type="t:MeetingResponseMessageType"/>
        <xs:element name="MeetingCancellation" type="t:MeetingCancellationMessageType"/>
        <xs:element name="Task" type="t:TaskType"/>
        <xs:element name="PostItem" type="t:PostItemType"/>
        <xs:element name="ReplyToItem" type="t:ReplyToItemType"/>
        <xs:element name="ForwardItem" type="t:ForwardItemType"/>
        <xs:element name="ReplyAllToItem" type="t:ReplyAllToItemType"/>
        <xs:element name="AcceptItem" type="t:AcceptItemType"/>
        <xs:element name="TentativelyAcceptItem" type="t:TentativelyAcceptItemType"/>
        <xs:element name="DeclineItem" type="t:DeclineItemType"/>
        <xs:element name="CancelCalendarItem" type="t:CancelCalendarItemType"/>
        <xs:element name="RemoveItem" type="t:RemoveItemType"/>
        <xs:element name="SuppressReadReceipt" type="t:SuppressReadReceiptType"/>
        <xs:element name="PostReplyItem" type="t:PostReplyItemType"/>
        <xs:element name="AcceptSharingInvitation" type="t:AcceptSharingInvitationType"/>
        <xs:element name="RoleMember" type="t:RoleMemberItemType"/>
        <xs:element name="Network" type="t:NetworkItemType"/>
        <xs:element name="Person" type="t:AbchPersonItemType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonEmptyArrayOfAttachmentsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="ItemAttachment" type="t:ItemAttachmentType"/>
      <xs:element name="FileAttachment" type="t:FileAttachmentType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="NonEmptyArrayOfPathsToElementType">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="t:Path"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="NonEmptyArrayOfPredictedActionReasonType">
    <xs:sequence>
      <xs:element name="PredictedActionReason" type="t:PredictedActionReasonType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PredictedActionReasonType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="ConversationStarterIsYou"/>
      <xs:enumeration value="OnlyRecipient"/>
      <xs:enumeration value="ConversationContributions"/>
      <xs:enumeration value="MarkedImportantBySender"/>
      <xs:enumeration value="SenderIsManager"/>
      <xs:enumeration value="SenderIsInManagementChain"/>
      <xs:enumeration value="SenderIsDirectReport"/>
      <xs:enumeration value="ActionBasedOnSender"/>
      <xs:enumeration value="NameOnToLine"/>
      <xs:enumeration value="NameOnCcLine"/>
      <xs:enumeration value="ManagerPosition"/>
      <xs:enumeration value="ReplyToAMessageFromMe"/>
      <xs:enumeration value="PreviouslyFlagged"/>
      <xs:enumeration value="ActionBasedOnRecipients"/>
      <xs:enumeration value="ActionBasedOnSubjectWords"/>
      <xs:enumeration value="ActionBasedOnBasedOnBodyWords"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="NonEmptyArrayOfRoleType">
    <xs:sequence>
      <xs:element name="Role" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NonEmptyStringType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NormalizedBodyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="NormalizedBodyType" type="t:BodyTypeType" use="required"/>
        <xs:attribute name="IsTruncated" type="xs:boolean" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NumberedRecurrenceRangeType">
    <xs:complexContent>
      <xs:extension base="t:RecurrenceRangeBaseType">
        <xs:sequence>
          <xs:element name="NumberOfOccurrences" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Path" type="t:BasePathToElementType" abstract="true"/>
  <xs:complexType name="PathToExceptionFieldType">
    <xs:complexContent>
      <xs:extension base="t:BasePathToElementType">
        <xs:attribute name="FieldURI" type="t:ExceptionPropertyURIType" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PathToIndexedFieldType">
    <xs:complexContent>
      <xs:extension base="t:BasePathToElementType">
        <xs:attribute name="FieldURI" type="t:DictionaryURIType" use="required"/>
        <xs:attribute name="FieldIndex" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PathToUnindexedFieldType">
    <xs:complexContent>
      <xs:extension base="t:BasePathToElementType">
        <xs:attribute name="FieldURI" type="t:UnindexedFieldURIType" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PredictedMessageActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Respond" />
      <xs:enumeration value="FollowUp" />
      <xs:enumeration value="MoveToFolder" />
      <xs:enumeration value="Delete" />
      <xs:enumeration value="Read" />
      <xs:enumeration value="Ignore" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PrimarySmtpAddressType">
    <xs:simpleContent>
      <xs:extension base="t:NonEmptyStringType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RecurrencePatternBaseType" abstract="true"/>
  <xs:group name="RecurrencePatternTypes">
    <xs:sequence>
      <xs:choice>
        <xs:element name="RelativeYearlyRecurrence" type="t:RelativeYearlyRecurrencePatternType"/>
        <xs:element name="AbsoluteYearlyRecurrence" type="t:AbsoluteYearlyRecurrencePatternType"/>
        <xs:element name="RelativeMonthlyRecurrence" type="t:RelativeMonthlyRecurrencePatternType"/>
        <xs:element name="AbsoluteMonthlyRecurrence" type="t:AbsoluteMonthlyRecurrencePatternType"/>
        <xs:element name="WeeklyRecurrence" type="t:WeeklyRecurrencePatternType"/>
        <xs:element name="DailyRecurrence" type="t:DailyRecurrencePatternType"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="RecurrenceRangeBaseType" abstract="true">
    <xs:sequence>
      <xs:element name="StartDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="RecurrenceRangeTypes">
    <xs:sequence>
      <xs:choice>
        <xs:element name="NoEndRecurrence" type="t:NoEndRecurrenceRangeType"/>
        <xs:element name="EndDateRecurrence" type="t:EndDateRecurrenceRangeType"/>
        <xs:element name="NumberedRecurrence" type="t:NumberedRecurrenceRangeType"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="RelativeMonthlyRecurrencePatternType">
    <xs:complexContent>
      <xs:extension base="t:IntervalRecurrencePatternBaseType">
        <xs:sequence>
          <xs:element name="DaysOfWeek" type="t:DayOfWeekType"/>
          <xs:element name="DayOfWeekIndex" type="t:DayOfWeekIndexType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RelativeYearlyRecurrencePatternType">
    <xs:complexContent>
      <xs:extension base="t:RecurrencePatternBaseType">
        <xs:sequence>
          <xs:element name="DaysOfWeek" type="t:DayOfWeekType"/>
          <xs:element name="DayOfWeekIndex" type="t:DayOfWeekIndexType"/>
          <xs:element name="Month" type="t:MonthNamesType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReplyAllToItemType">
    <xs:complexContent>
      <xs:extension base="t:SmartResponseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReplyBody">
    <xs:sequence>
      <xs:element name="Message" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute ref="xml:lang" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ReplyToItemType">
    <xs:complexContent>
      <xs:extension base="t:SmartResponseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestServerVersion">
    <xs:complexType>
      <xs:attribute name="Version" type="t:ExchangeVersionType" use="required" fixed="Exchange2016"/>
      <xs:anyAttribute namespace="http://schemas.xmlsoap.org/soap/envelope/"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ResponseClassType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="Warning"/>
      <xs:enumeration value="Error"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ResponseObjectCoreType" abstract="true">
    <xs:complexContent>
      <xs:extension base="t:MessageType">
        <xs:sequence>
          <xs:element name="ReferenceItemId" type="t:ItemIdType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResponseObjectType" abstract="true">
    <xs:complexContent>
      <xs:extension base="t:ResponseObjectCoreType">
        <xs:attribute name="ObjectName" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SensitivityChoicesType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="Personal"/>
      <xs:enumeration value="Private"/>
      <xs:enumeration value="Confidential"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServerVersionInfo">
    <xs:complexType>
      <xs:attribute name="MajorVersion" type="xs:int" use="optional"/>
      <xs:attribute name="MinorVersion" type="xs:int" use="optional"/>
      <xs:attribute name="MajorBuildNumber" type="xs:int" use="optional"/>
      <xs:attribute name="MinorBuildNumber" type="xs:int" use="optional"/>
      <xs:attribute name="Version" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SingleRecipientType">
    <xs:choice>
      <xs:element name="Mailbox" type="t:EmailAddressType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SmtpAddressType">
    <xs:simpleContent>
      <xs:extension base="t:NonEmptyStringType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SuppressReadReceiptType">
    <xs:complexContent>
      <xs:extension base="t:ReferenceItemResponseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="TaskRecurrencePatternTypes">
    <xs:sequence>
      <xs:choice>
        <xs:element name="RelativeYearlyRecurrence" type="t:RelativeYearlyRecurrencePatternType"/>
        <xs:element name="AbsoluteYearlyRecurrence" type="t:AbsoluteYearlyRecurrencePatternType"/>
        <xs:element name="RelativeMonthlyRecurrence" type="t:RelativeMonthlyRecurrencePatternType"/>
        <xs:element name="AbsoluteMonthlyRecurrence" type="t:AbsoluteMonthlyRecurrencePatternType"/>
        <xs:element name="WeeklyRecurrence" type="t:WeeklyRecurrencePatternType"/>
        <xs:element name="DailyRecurrence" type="t:DailyRecurrencePatternType"/>
        <xs:element name="DailyRegeneration" type="t:DailyRegeneratingPatternType"/>
        <xs:element name="WeeklyRegeneration" type="t:WeeklyRegeneratingPatternType"/>
        <xs:element name="MonthlyRegeneration" type="t:MonthlyRegeneratingPatternType"/>
        <xs:element name="YearlyRegeneration" type="t:YearlyRegeneratingPatternType"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="TimeChangePatternTypes">
    <xs:sequence>
      <xs:choice>
        <xs:element name="RelativeYearlyRecurrence" type="t:RelativeYearlyRecurrencePatternType"/>
        <xs:element name="AbsoluteDate" type="xs:date"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:simpleType name="UnindexedFieldURIType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="folder:FolderId"/>
      <xs:enumeration value="folder:ParentFolderId"/>
      <xs:enumeration value="folder:DisplayName"/>
      <xs:enumeration value="folder:UnreadCount"/>
      <xs:enumeration value="folder:TotalCount"/>
      <xs:enumeration value="folder:ChildFolderCount"/>
      <xs:enumeration value="folder:FolderClass"/>
      <xs:enumeration value="folder:SearchParameters"/>
      <xs:enumeration value="folder:ManagedFolderInformation"/>
      <xs:enumeration value="folder:PermissionSet"/>
      <xs:enumeration value="folder:EffectiveRights"/>
      <xs:enumeration value="folder:SharingEffectiveRights"/>
      <xs:enumeration value="folder:DistinguishedFolderId"/>
      <xs:enumeration value="folder:PolicyTag"/>
      <xs:enumeration value="folder:ArchiveTag"/>
      <xs:enumeration value="folder:ReplicaList"/>
      <xs:enumeration value="item:ItemId"/>
      <xs:enumeration value="item:ParentFolderId"/>
      <xs:enumeration value="item:ItemClass"/>
      <xs:enumeration value="item:MimeContent"/>
      <xs:enumeration value="item:Attachments"/>
      <xs:enumeration value="item:Subject"/>
      <xs:enumeration value="item:DateTimeReceived"/>
      <xs:enumeration value="item:Size"/>
      <xs:enumeration value="item:Categories"/>
      <xs:enumeration value="item:HasAttachments"/>
      <xs:enumeration value="item:Importance"/>
      <xs:enumeration value="item:InReplyTo"/>
      <xs:enumeration value="item:InternetMessageHeaders"/>
      <xs:enumeration value="item:IsAssociated"/>
      <xs:enumeration value="item:IsDraft"/>
      <xs:enumeration value="item:IsFromMe"/>
      <xs:enumeration value="item:IsResend"/>
      <xs:enumeration value="item:IsSubmitted"/>
      <xs:enumeration value="item:IsUnmodified"/>
      <xs:enumeration value="item:DateTimeSent"/>
      <xs:enumeration value="item:DateTimeCreated"/>
      <xs:enumeration value="item:Body"/>
      <xs:enumeration value="item:ResponseObjects"/>
      <xs:enumeration value="item:Sensitivity"/>
      <xs:enumeration value="item:ReminderDueBy"/>
      <xs:enumeration value="item:ReminderIsSet"/>
      <xs:enumeration value="item:ReminderNextTime"/>
      <xs:enumeration value="item:ReminderMinutesBeforeStart"/>
      <xs:enumeration value="item:DisplayTo"/>
      <xs:enumeration value="item:DisplayCc"/>
      <xs:enumeration value="item:Culture"/>
      <xs:enumeration value="item:EffectiveRights"/>
      <xs:enumeration value="item:LastModifiedName"/>
      <xs:enumeration value="item:LastModifiedTime"/>
      <xs:enumeration value="item:ConversationId"/>
      <xs:enumeration value="item:UniqueBody"/>
      <xs:enumeration value="item:Flag"/>
      <xs:enumeration value="item:StoreEntryId"/>
      <xs:enumeration value="item:InstanceKey"/>
      <xs:enumeration value="item:NormalizedBody"/>
      <xs:enumeration value="item:EntityExtractionResult" />
      <xs:enumeration value="item:PolicyTag"/>
      <xs:enumeration value="item:ArchiveTag"/>
      <xs:enumeration value="item:RetentionDate"/>
      <xs:enumeration value="item:Preview"/>
      <xs:enumeration value="item:NextPredictedAction" />
      <xs:enumeration value="item:GroupingAction" />
      <xs:enumeration value="item:PredictedActionReason"/>
      <xs:enumeration value="item:IsClutter"/>
      <xs:enumeration value="item:RightsManagementLicenseData" />
      <xs:enumeration value="item:BlockStatus" />
      <xs:enumeration value="item:HasBlockedImages" />
      <xs:enumeration value="item:WebClientReadFormQueryString"/>
      <xs:enumeration value="item:WebClientEditFormQueryString"/>
      <xs:enumeration value="item:TextBody"/>
      <xs:enumeration value="item:IconIndex"/>
      <xs:enumeration value="item:MimeContentUTF8"/>
      <xs:enumeration value="item:Hashtags"/>
      <xs:enumeration value="item:Mentions"/>
      <xs:enumeration value="item:MentionedMe"/>
      <xs:enumeration value="item:PendingSocialActivityTagIds"/>
      <xs:enumeration value="message:ConversationIndex"/>
      <xs:enumeration value="message:ConversationTopic"/>
      <xs:enumeration value="message:InternetMessageId"/>
      <xs:enumeration value="message:IsRead"/>
      <xs:enumeration value="message:IsResponseRequested"/>
      <xs:enumeration value="message:IsReadReceiptRequested"/>
      <xs:enumeration value="message:IsDeliveryReceiptRequested"/>
      <xs:enumeration value="message:ReceivedBy"/>
      <xs:enumeration value="message:ReceivedRepresenting"/>
      <xs:enumeration value="message:References"/>
      <xs:enumeration value="message:ReplyTo"/>
      <xs:enumeration value="message:From"/>
      <xs:enumeration value="message:Sender"/>
      <xs:enumeration value="message:ToRecipients"/>
      <xs:enumeration value="message:CcRecipients"/>
      <xs:enumeration value="message:BccRecipients"/>
      <xs:enumeration value="message:ApprovalRequestData"/>
      <xs:enumeration value="message:VotingInformation"/>
      <xs:enumeration value="message:ReminderMessageData"/>
      <xs:enumeration value="meeting:AssociatedCalendarItemId"/>
      <xs:enumeration value="meeting:IsDelegated"/>
      <xs:enumeration value="meeting:IsOutOfDate"/>
      <xs:enumeration value="meeting:HasBeenProcessed"/>
      <xs:enumeration value="meeting:ResponseType"/>
      <xs:enumeration value="meeting:ProposedStart"/>
      <xs:enumeration value="meeting:ProposedEnd"/>
      <xs:enumeration value="meetingRequest:MeetingRequestType"/>
      <xs:enumeration value="meetingRequest:IntendedFreeBusyStatus"/>
      <xs:enumeration value="meetingRequest:ChangeHighlights"/>
      <xs:enumeration value="calendar:Start"/>
      <xs:enumeration value="calendar:End"/>
      <xs:enumeration value="calendar:OriginalStart"/>
      <xs:enumeration value="calendar:StartWallClock"/>
      <xs:enumeration value="calendar:EndWallClock"/>
      <xs:enumeration value="calendar:StartTimeZoneId"/>
      <xs:enumeration value="calendar:EndTimeZoneId"/>
      <xs:enumeration value="calendar:IsAllDayEvent"/>
      <xs:enumeration value="calendar:LegacyFreeBusyStatus"/>
      <xs:enumeration value="calendar:Location"/>
      <xs:enumeration value="calendar:EnhancedLocation"/>
      <xs:enumeration value="calendar:When"/>
      <xs:enumeration value="calendar:IsMeeting"/>
      <xs:enumeration value="calendar:IsCancelled"/>
      <xs:enumeration value="calendar:IsRecurring"/>
      <xs:enumeration value="calendar:MeetingRequestWasSent"/>
      <xs:enumeration value="calendar:IsResponseRequested"/>
      <xs:enumeration value="calendar:CalendarItemType"/>
      <xs:enumeration value="calendar:MyResponseType"/>
      <xs:enumeration value="calendar:Organizer"/>
      <xs:enumeration value="calendar:RequiredAttendees"/>
      <xs:enumeration value="calendar:OptionalAttendees"/>
      <xs:enumeration value="calendar:Resources"/>
      <xs:enumeration value="calendar:ConflictingMeetingCount"/>
      <xs:enumeration value="calendar:AdjacentMeetingCount"/>
      <xs:enumeration value="calendar:ConflictingMeetings"/>
      <xs:enumeration value="calendar:AdjacentMeetings"/>
      <xs:enumeration value="calendar:InboxReminders"/>
      <xs:enumeration value="calendar:Duration"/>
      <xs:enumeration value="calendar:TimeZone"/>
      <xs:enumeration value="calendar:AppointmentReplyTime"/>
      <xs:enumeration value="calendar:AppointmentSequenceNumber"/>
      <xs:enumeration value="calendar:AppointmentState"/>
      <xs:enumeration value="calendar:Recurrence"/>
      <xs:enumeration value="calendar:FirstOccurrence"/>
      <xs:enumeration value="calendar:LastOccurrence"/>
      <xs:enumeration value="calendar:ModifiedOccurrences"/>
      <xs:enumeration value="calendar:DeletedOccurrences"/>
      <xs:enumeration value="calendar:MeetingTimeZone"/>
      <xs:enumeration value="calendar:ConferenceType"/>
      <xs:enumeration value="calendar:AllowNewTimeProposal"/>
      <xs:enumeration value="calendar:IsOnlineMeeting"/>
      <xs:enumeration value="calendar:MeetingWorkspaceUrl"/>
      <xs:enumeration value="calendar:NetShowUrl"/>
      <xs:enumeration value="calendar:UID"/>
      <xs:enumeration value="calendar:RecurrenceId"/>
      <xs:enumeration value="calendar:DateTimeStamp"/>
      <xs:enumeration value="calendar:StartTimeZone"/>
      <xs:enumeration value="calendar:EndTimeZone"/>
      <xs:enumeration value="calendar:JoinOnlineMeetingUrl"/>
      <xs:enumeration value="calendar:OnlineMeetingSettings"/>
      <xs:enumeration value="calendar:IsOrganizer"/>
      <xs:enumeration value="task:ActualWork"/>
      <xs:enumeration value="task:AssignedTime"/>
      <xs:enumeration value="task:BillingInformation"/>
      <xs:enumeration value="task:ChangeCount"/>
      <xs:enumeration value="task:Companies"/>
      <xs:enumeration value="task:CompleteDate"/>
      <xs:enumeration value="task:Contacts"/>
      <xs:enumeration value="task:DelegationState"/>
      <xs:enumeration value="task:Delegator"/>
      <xs:enumeration value="task:DueDate"/>
      <xs:enumeration value="task:IsAssignmentEditable"/>
      <xs:enumeration value="task:IsComplete"/>
      <xs:enumeration value="task:IsRecurring"/>
      <xs:enumeration value="task:IsTeamTask"/>
      <xs:enumeration value="task:Mileage"/>
      <xs:enumeration value="task:Owner"/>
      <xs:enumeration value="task:PercentComplete"/>
      <xs:enumeration value="task:Recurrence"/>
      <xs:enumeration value="task:StartDate"/>
      <xs:enumeration value="task:Status"/>
      <xs:enumeration value="task:StatusDescription"/>
      <xs:enumeration value="task:TotalWork"/>
      <xs:enumeration value="contacts:Alias"/>
      <xs:enumeration value="contacts:AssistantName"/>
      <xs:enumeration value="contacts:Birthday"/>
      <xs:enumeration value="contacts:BusinessHomePage"/>
      <xs:enumeration value="contacts:Children"/>
      <xs:enumeration value="contacts:Companies"/>
      <xs:enumeration value="contacts:CompanyName"/>
      <xs:enumeration value="contacts:CompleteName"/>
      <xs:enumeration value="contacts:ContactSource"/>
      <xs:enumeration value="contacts:Culture"/>
      <xs:enumeration value="contacts:Department"/>
      <xs:enumeration value="contacts:DisplayName"/>
      <xs:enumeration value="contacts:DirectoryId"/>
      <xs:enumeration value="contacts:DirectReports"/>
      <xs:enumeration value="contacts:EmailAddresses"/>
      <xs:enumeration value="contacts:AbchEmailAddresses"/>
      <xs:enumeration value="contacts:FileAs"/>
      <xs:enumeration value="contacts:FileAsMapping"/>
      <xs:enumeration value="contacts:Generation"/>
      <xs:enumeration value="contacts:GivenName"/>
      <xs:enumeration value="contacts:ImAddresses"/>
      <xs:enumeration value="contacts:Initials"/>
      <xs:enumeration value="contacts:JobTitle"/>
      <xs:enumeration value="contacts:Manager"/>
      <xs:enumeration value="contacts:ManagerMailbox"/>
      <xs:enumeration value="contacts:MiddleName"/>
      <xs:enumeration value="contacts:Mileage"/>
      <xs:enumeration value="contacts:MSExchangeCertificate"/>
      <xs:enumeration value="contacts:Nickname"/>
      <xs:enumeration value="contacts:Notes"/>
      <xs:enumeration value="contacts:OfficeLocation"/>
      <xs:enumeration value="contacts:PhoneNumbers"/>
      <xs:enumeration value="contacts:PhoneticFullName"/>
      <xs:enumeration value="contacts:PhoneticFirstName"/>
      <xs:enumeration value="contacts:PhoneticLastName"/>
      <xs:enumeration value="contacts:Photo"/>
      <xs:enumeration value="contacts:PhysicalAddresses"/>
      <xs:enumeration value="contacts:PostalAddressIndex"/>
      <xs:enumeration value="contacts:Profession"/>
      <xs:enumeration value="contacts:SpouseName"/>
      <xs:enumeration value="contacts:Surname"/>
      <xs:enumeration value="contacts:WeddingAnniversary"/>
      <xs:enumeration value="contacts:UserSMIMECertificate"/>
      <xs:enumeration value="contacts:HasPicture"/>
      <xs:enumeration value="contacts:AccountName"/>
      <xs:enumeration value="contacts:IsAutoUpdateDisabled"/>
      <xs:enumeration value="contacts:IsMessengerEnabled"/>
      <xs:enumeration value="contacts:Comment"/>
      <xs:enumeration value="contacts:ContactShortId"/>
      <xs:enumeration value="contacts:ContactType"/>
      <xs:enumeration value="contacts:CreatedBy"/>
      <xs:enumeration value="contacts:Gender"/>
      <xs:enumeration value="contacts:IsHidden"/>
      <xs:enumeration value="contacts:ObjectId"/>
      <xs:enumeration value="contacts:PassportId"/>
      <xs:enumeration value="contacts:IsPrivate"/>
      <xs:enumeration value="contacts:SourceId"/>
      <xs:enumeration value="contacts:TrustLevel"/>
      <xs:enumeration value="contacts:Urls"/>
      <xs:enumeration value="contacts:Cid"/>
      <xs:enumeration value="contacts:SkypeAuthCertificate"/>
      <xs:enumeration value="contacts:SkypeContext"/>
      <xs:enumeration value="contacts:SkypeId"/>
      <xs:enumeration value="contacts:XboxLiveTag"/>
      <xs:enumeration value="contacts:SkypeRelationship"/>
      <xs:enumeration value="contacts:YomiNickname"/>
      <xs:enumeration value="contacts:InviteFree"/>
      <xs:enumeration value="contacts:HidePresenceAndProfile"/>
      <xs:enumeration value="contacts:IsPendingOutbound"/>
      <xs:enumeration value="contacts:SupportGroupFeeds"/>
      <xs:enumeration value="contacts:UserTileHash"/>
      <xs:enumeration value="contacts:UnifiedInbox"/>
      <xs:enumeration value="contacts:Mris"/>
      <xs:enumeration value="contacts:Wlid"/>
      <xs:enumeration value="contacts:AbchContactId"/>
      <xs:enumeration value="contacts:NotInBirthdayCalendar"/>
      <xs:enumeration value="contacts:ShellContactType" />
      <xs:enumeration value="contacts:ImMri" />
      <xs:enumeration value="contacts:PresenceTrustLevel" />
      <xs:enumeration value="contacts:OtherMri" />
      <xs:enumeration value="contacts:ProfileLastChanged" />
      <xs:enumeration value="contacts:MobileIMEnabled" />
      <xs:enumeration value="distributionlist:Members"/>
      <xs:enumeration value="contacts:PartnerNetworkProfilePhotoUrl" />
      <xs:enumeration value="contacts:PartnerNetworkThumbnailPhotoUrl" />
      <xs:enumeration value="contacts:contacts:ConversationGuid" />
      <xs:enumeration value="postitem:PostedTime"/>
      <xs:enumeration value="conversation:ConversationId"/>
      <xs:enumeration value="conversation:ConversationTopic"/>
      <xs:enumeration value="conversation:UniqueRecipients"/>
      <xs:enumeration value="conversation:GlobalUniqueRecipients"/>
      <xs:enumeration value="conversation:UniqueUnreadSenders"/>
      <xs:enumeration value="conversation:GlobalUniqueUnreadSenders"/>
      <xs:enumeration value="conversation:UniqueSenders"/>
      <xs:enumeration value="conversation:GlobalUniqueSenders"/>
      <xs:enumeration value="conversation:LastDeliveryTime"/>
      <xs:enumeration value="conversation:GlobalLastDeliveryTime"/>
      <xs:enumeration value="conversation:Categories"/>
      <xs:enumeration value="conversation:GlobalCategories"/>
      <xs:enumeration value="conversation:FlagStatus"/>
      <xs:enumeration value="conversation:GlobalFlagStatus"/>
      <xs:enumeration value="conversation:HasAttachments"/>
      <xs:enumeration value="conversation:GlobalHasAttachments"/>
      <xs:enumeration value="conversation:HasIrm"/>
      <xs:enumeration value="conversation:GlobalHasIrm"/>
      <xs:enumeration value="conversation:MessageCount"/>
      <xs:enumeration value="conversation:GlobalMessageCount"/>
      <xs:enumeration value="conversation:UnreadCount"/>
      <xs:enumeration value="conversation:GlobalUnreadCount"/>
      <xs:enumeration value="conversation:Size"/>
      <xs:enumeration value="conversation:GlobalSize"/>
      <xs:enumeration value="conversation:ItemClasses"/>
      <xs:enumeration value="conversation:GlobalItemClasses"/>
      <xs:enumeration value="conversation:Importance"/>
      <xs:enumeration value="conversation:GlobalImportance"/>
      <xs:enumeration value="conversation:ItemIds"/>
      <xs:enumeration value="conversation:GlobalItemIds"/>
      <xs:enumeration value="conversation:LastModifiedTime"/>
      <xs:enumeration value="conversation:InstanceKey"/>
      <xs:enumeration value="conversation:Preview"/>
      <xs:enumeration value="conversation:NextPredictedAction"/>
      <xs:enumeration value="conversation:GroupingAction" />
      <xs:enumeration value="conversation:IconIndex"/>
      <xs:enumeration value="conversation:GlobalIconIndex"/>
      <xs:enumeration value="conversation:DraftItemIds"/>
      <xs:enumeration value="conversation:HasClutter"/>
      <xs:enumeration value="conversation:MentionedMe"/>
      <xs:enumeration value="conversation:GlobalMentionedMe"/>
      <xs:enumeration value="person:FullName" />
      <xs:enumeration value="person:GivenName" />
      <xs:enumeration value="person:Surname" />
      <xs:enumeration value="person:PhoneNumber" />
      <xs:enumeration value="person:SMSNumber" />
      <xs:enumeration value="person:EmailAddress" />
      <xs:enumeration value="person:Alias" />
      <xs:enumeration value="person:Department" />
      <xs:enumeration value="person:LinkedInProfileLink" />
      <xs:enumeration value="person:Skills" />
      <xs:enumeration value="person:ProfessionalBiography" />
      <xs:enumeration value="person:ManagementChain" />
      <xs:enumeration value="person:DirectReports" />
      <xs:enumeration value="person:Peers" />
      <xs:enumeration value="person:TeamSize" />
      <xs:enumeration value="person:CurrentJob" />
      <xs:enumeration value="person:Birthday" />
      <xs:enumeration value="person:Hometown" />
      <xs:enumeration value="person:CurrentLocation" />
      <xs:enumeration value="person:CompanyProfile" />
      <xs:enumeration value="person:Office" />
      <xs:enumeration value="person:Headline" />
      <xs:enumeration value="person:MutualConnections" />
      <xs:enumeration value="person:Title" />
      <xs:enumeration value="person:MutualManager" />
      <xs:enumeration value="person:Insights" />
      <xs:enumeration value="person:UserProfilePicture" />
      <xs:enumeration value="persona:PersonaId" />
      <xs:enumeration value="persona:PersonaType" />
      <xs:enumeration value="persona:GivenName" />
      <xs:enumeration value="persona:CompanyName" />
      <xs:enumeration value="persona:Surname" />
      <xs:enumeration value="persona:DisplayName" />
      <xs:enumeration value="persona:EmailAddress" />
      <xs:enumeration value="persona:FileAs" />
      <xs:enumeration value="persona:HomeCity" />
      <xs:enumeration value="persona:CreationTime" />
      <xs:enumeration value="persona:RelevanceScore" />
      <xs:enumeration value="persona:RankingWeight" />
      <xs:enumeration value="persona:WorkCity" />
      <xs:enumeration value="persona:PersonaObjectStatus" />
      <xs:enumeration value="persona:FileAsId" />
      <xs:enumeration value="persona:DisplayNamePrefix" />
      <xs:enumeration value="persona:YomiCompanyName" />
      <xs:enumeration value="persona:YomiFirstName" />
      <xs:enumeration value="persona:YomiLastName" />
      <xs:enumeration value="persona:Title" />
      <xs:enumeration value="persona:EmailAddress"/>
      <xs:enumeration value="persona:EmailAddresses" />
      <xs:enumeration value="persona:PhoneNumber" />
      <xs:enumeration value="persona:ImAddress" />
      <xs:enumeration value="persona:ImAddresses" />
      <xs:enumeration value="persona:ImAddresses2" />
      <xs:enumeration value="persona:ImAddresses3" />
      <xs:enumeration value="persona:FolderIds" />
      <xs:enumeration value="persona:Attributions" />
      <xs:enumeration value="persona:DisplayNames" />
      <xs:enumeration value="persona:Initials" />
      <xs:enumeration value="persona:FileAses" />
      <xs:enumeration value="persona:FileAsIds" />
      <xs:enumeration value="persona:DisplayNamePrefixes" />
      <xs:enumeration value="persona:GivenNames" />
      <xs:enumeration value="persona:MiddleNames" />
      <xs:enumeration value="persona:Surnames" />
      <xs:enumeration value="persona:Generations" />
      <xs:enumeration value="persona:Nicknames" />
      <xs:enumeration value="persona:YomiCompanyNames" />
      <xs:enumeration value="persona:YomiFirstNames" />
      <xs:enumeration value="persona:YomiLastNames" />
      <xs:enumeration value="persona:BusinessPhoneNumbers" />
      <xs:enumeration value="persona:BusinessPhoneNumbers2" />
      <xs:enumeration value="persona:HomePhones" />
      <xs:enumeration value="persona:HomePhones2" />
      <xs:enumeration value="persona:MobilePhones" />
      <xs:enumeration value="persona:MobilePhones2" />
      <xs:enumeration value="persona:AssistantPhoneNumbers" />
      <xs:enumeration value="persona:CallbackPhones" />
      <xs:enumeration value="persona:CarPhones" />
      <xs:enumeration value="persona:HomeFaxes" />
      <xs:enumeration value="persona:OrganizationMainPhones" />
      <xs:enumeration value="persona:OtherFaxes" />
      <xs:enumeration value="persona:OtherTelephones" />
      <xs:enumeration value="persona:OtherPhones2" />
      <xs:enumeration value="persona:Pagers" />
      <xs:enumeration value="persona:RadioPhones" />
      <xs:enumeration value="persona:TelexNumbers" />
      <xs:enumeration value="persona:WorkFaxes" />
      <xs:enumeration value="persona:Emails1" />
      <xs:enumeration value="persona:Emails2" />
      <xs:enumeration value="persona:Emails3" />
      <xs:enumeration value="persona:BusinessHomePages" />
      <xs:enumeration value="persona:School" />
      <xs:enumeration value="persona:PersonalHomePages" />
      <xs:enumeration value="persona:OfficeLocations" />
      <xs:enumeration value="persona:BusinessAddresses" />
      <xs:enumeration value="persona:HomeAddresses" />
      <xs:enumeration value="persona:OtherAddresses" />
      <xs:enumeration value="persona:Titles" />
      <xs:enumeration value="persona:Departments" />
      <xs:enumeration value="persona:CompanyNames" />
      <xs:enumeration value="persona:Managers" />
      <xs:enumeration value="persona:AssistantNames" />
      <xs:enumeration value="persona:Professions" />
      <xs:enumeration value="persona:SpouseNames" />
      <xs:enumeration value="persona:Hobbies" />
      <xs:enumeration value="persona:WeddingAnniversaries" />
      <xs:enumeration value="persona:Birthdays" />
      <xs:enumeration value="persona:Children" />
      <xs:enumeration value="persona:Locations" />
      <xs:enumeration value="persona:ExtendedProperties" />
      <xs:enumeration value="persona:PostalAddress" />
      <xs:enumeration value="persona:Bodies" />
      <xs:enumeration value="rolemember:MemberType"/>
      <xs:enumeration value="rolemember:MemberId"/>
      <xs:enumeration value="rolemember:DisplayName"/>
      <xs:enumeration value="network:TokenRefreshLastCompleted"/>
      <xs:enumeration value="network:TokenRefreshLastAttempted"/>
      <xs:enumeration value="network:SyncEnabled"/>
      <xs:enumeration value="network:RejectedOffers"/>
      <xs:enumeration value="network:SessionHandle"/>
      <xs:enumeration value="network:RefreshTokenExpiry2"/>
      <xs:enumeration value="network:RefreshToken2"/>
      <xs:enumeration value="network:PsaLastChanged"/>
      <xs:enumeration value="network:Offers"/>
      <xs:enumeration value="network:LastWelcomeContact"/>
      <xs:enumeration value="network:LastVersionSaved"/>
      <xs:enumeration value="network:DomainTag"/>
      <xs:enumeration value="network:FirstAuthErrorDates"/>
      <xs:enumeration value="network:ErrorOffers"/>
      <xs:enumeration value="network:ContactSyncSuccess"/>
      <xs:enumeration value="network:ContactSyncError"/>
      <xs:enumeration value="network:ClientToken2"/>
      <xs:enumeration value="network:ClientToken"/>
      <xs:enumeration value="network:ClientPublishSecret"/>
      <xs:enumeration value="network:UserEmail"/>
      <xs:enumeration value="network:AutoLinkSuccess"/>
      <xs:enumeration value="network:AutoLinkError"/>
      <xs:enumeration value="network:IsDefault"/>
      <xs:enumeration value="network:Settings"/>
      <xs:enumeration value="network:ProfileUrl"/>
      <xs:enumeration value="network:UserTileUrl"/>
      <xs:enumeration value="network:DomainId"/>
      <xs:enumeration value="network:SourceEntryID" />
      <xs:enumeration value="network:DisplayName" />
      <xs:enumeration value="network:AccountName" />
      <xs:enumeration value="abchperson:FavoriteOrder"/>
      <xs:enumeration value="abchperson:PersonId"/>
      <xs:enumeration value="abchperson:AntiLinkInfo"/>
      <xs:enumeration value="abchperson:RelevanceOrder1"/>
      <xs:enumeration value="abchperson:RelevanceOrder2"/>
      <xs:enumeration value="abchperson:ContactHandles"/>
      <xs:enumeration value="abchperson:Categories"/>
      <xs:enumeration value="booking:ServiceId" />
      <xs:enumeration value="booking:StaffIds" />
      <xs:enumeration value="booking:CustomerName" />
      <xs:enumeration value="booking:CustomerEmail" />
      <xs:enumeration value="booking:CustomerPhone" />
      <xs:enumeration value="booking:CustomerId"/>
      <xs:enumeration value="insight:InsightId"/>
      <xs:enumeration value="insight:Type"/>
      <xs:enumeration value="insight:StartTimeUtc"/>
      <xs:enumeration value="insight:EndTimeUtc"/>
      <xs:enumeration value="insight:Status"/>
      <xs:enumeration value="insight:Version"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="UniqueBodyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="UniqueBodyType" type="t:BodyTypeType" use="required"/>
        <xs:attribute name="IsTruncated" type="xs:boolean" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="UserIdType">
    <xs:sequence>
      <xs:element name="SID" type="xs:string" minOccurs="0"/>
      <xs:element name="PrimarySmtpAddress" type="xs:string" minOccurs="0"/>
      <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
      <xs:element name="DistinguishedUser" type="t:DistinguishedUserType" minOccurs="0"/>
      <xs:element name="ExternalUserIdentity" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Value">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="Value" type="t:Value"/>
  <xs:complexType name="WeeklyRecurrencePatternType">
    <xs:complexContent>
      <xs:extension base="t:IntervalRecurrencePatternBaseType">
        <xs:sequence>
          <xs:element name="DaysOfWeek" type="t:DaysOfWeekType"/>
          <xs:element name="FirstDayOfWeek" type="t:DayOfWeekType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WellKnownResponseObjectType">
    <xs:complexContent>
      <xs:restriction base="t:ResponseObjectType">
        <xs:sequence>
          <xs:element name="ItemClass" type="t:ItemClassType" minOccurs="0"/>
          <xs:element name="Sensitivity" type="t:SensitivityChoicesType" minOccurs="0"/>
          <xs:element name="Body" type="t:BodyType" minOccurs="0"/>
          <xs:element name="Attachments" type="t:NonEmptyArrayOfAttachmentsType" minOccurs="0"/>
          <xs:element name="InternetMessageHeaders" type="t:NonEmptyArrayOfInternetHeadersType" minOccurs="0"/>
          <xs:element name="Sender" type="t:SingleRecipientType" minOccurs="0"/>
          <xs:element name="ToRecipients" type="t:ArrayOfRecipientsType" minOccurs="0"/>
          <xs:element name="CcRecipients" type="t:ArrayOfRecipientsType" minOccurs="0"/>
          <xs:element name="BccRecipients" type="t:ArrayOfRecipientsType" minOccurs="0"/>
          <xs:element name="IsReadReceiptRequested" type="xs:boolean" minOccurs="0"/>
          <xs:element name="IsDeliveryReceiptRequested" type="xs:boolean" minOccurs="0"/>
          <xs:element name="From" type="t:SingleRecipientType" minOccurs="0"/>
          <xs:element name="ReferenceItemId" type="t:ItemIdType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="ObjectName" type="xs:string" use="prohibited"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
