ExchangeWebServices/Source/Common/SchemaValidation/MS-OXWSGTZ-messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:tns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/messages" elementFormDefault="qualified" version="Exchange2016" id="messages">
  <xs:import namespace="http://schemas.microsoft.com/exchange/services/2006/types" schemaLocation="MS-OXWSGTZ-types.xsd"/>
  <xs:include schemaLocation="MS-OXWSCDATA-messages.xsd" />
  <xs:complexType name="GetServerTimeZonesType">
    <xs:complexContent>
      <xs:extension base="m:BaseRequestType">
        <xs:sequence>
          <xs:element name="Ids" type="t:NonEmptyArrayOfTimeZoneIdType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="ReturnFullTimeZoneData" type="xs:boolean" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetServerTimeZones" type="m:GetServerTimeZonesType"/>
  <xs:complexType name="GetServerTimeZonesResponseMessageType">
    <xs:complexContent>
      <xs:extension base="m:ResponseMessageType">
        <xs:sequence>
          <xs:element name="TimeZoneDefinitions" type="t:ArrayOfTimeZoneDefinitionType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetServerTimeZonesResponseType">
    <xs:complexContent>
      <xs:extension base="m:BaseResponseMessageType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetServerTimeZonesResponse" type="m:GetServerTimeZonesResponseType"/>
</xs:schema>
