SharePoint/Source/MS-DWSS/Adapter/Schemas/ComplexTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Elements.xsd"/>
  <xs:complexType name="MemberData">
    <xs:choice>
      <xs:element ref="Error"/>
      <xs:sequence>
        <xs:element name="DefaultUrl" type="xs:string"/>
        <xs:element name="AlternateUrl" type="xs:string"/>
        <xs:element ref="Error"/>
      </xs:sequence>
      <xs:sequence>
        <xs:element ref="Member" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
</xs:schema>