ExchangeActiveSync/Source/Common/ActiveSyncClient/SchemaValidation/Contacts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:airsyncbase=
    "AirSyncBase" xmlns="Contacts" targetNamespace="Contacts"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="Anniversary" type="xs:dateTime"/>
  <xs:element name="AssistantName" type="xs:string"/>
  <xs:element name="AssistantPhoneNumber" type="xs:string"/>
  <xs:element name="Birthday" type="xs:dateTime"/>
  <xs:element name="Business2PhoneNumber" type="xs:string"/>
  <xs:element name="BusinessAddressCity" type="xs:string"/>
  <xs:element name="BusinessPhoneNumber" type="xs:string"/>
  <xs:element name="WebPage" type="xs:string"/>
  <xs:element name="BusinessAddressCountry" type="xs:string"/>
  <xs:element name="Department" type="xs:string"/>
  <xs:element name="Email1Address" type="xs:string"/>
  <xs:element name="Email2Address" type="xs:string"/>
  <xs:element name="Email3Address" type="xs:string"/>
  <xs:element name="BusinessFaxNumber" type="xs:string"/>
  <xs:element name="FileAs" type="xs:string"/>
  <xs:element name="Alias" type="xs:string"/>
  <xs:element name="WeightedRank" type="xs:int"/>
  <xs:element name="FirstName" type="xs:string"/>
  <xs:element name="MiddleName" type="xs:string"/>
  <xs:element name="HomeAddressCity" type="xs:string"/>
  <xs:element name="HomeAddressCountry" type="xs:string"/>
  <xs:element name="HomeFaxNumber" type="xs:string"/>
  <xs:element name="HomePhoneNumber" type="xs:string"/>
  <xs:element name="Home2PhoneNumber" type="xs:string"/>
  <xs:element name="HomeAddressPostalCode" type="xs:string"/>
  <xs:element name="HomeAddressState" type="xs:string"/>
  <xs:element name="HomeAddressStreet" type="xs:string"/>
  <xs:element name="MobilePhoneNumber" type="xs:string"/>
  <xs:element name="Suffix" type="xs:string"/>
  <xs:element name="CompanyName" type="xs:string"/>
  <xs:element name="OtherAddressCity" type="xs:string"/>
  <xs:element name="OtherAddressCountry" type="xs:string"/>
  <xs:element name="CarPhoneNumber" type="xs:string"/>
  <xs:element name="OtherAddressPostalCode" type="xs:string"/>
  <xs:element name="OtherAddressState" type="xs:string"/>
  <xs:element name="OtherAddressStreet" type="xs:string"/>
  <xs:element name="PagerNumber" type="xs:string"/>
  <xs:element name="Title" type="xs:string"/>
  <xs:element name="BusinessAddressPostalCode" type="xs:string"/>
  <xs:element name="LastName" type="xs:string"/>
  <xs:element name="Spouse" type="xs:string"/>
  <xs:element name="BusinessAddressState" type="xs:string"/>
  <xs:element name="BusinessAddressStreet" type="xs:string"/>
  <xs:element name="JobTitle" type="xs:string"/>
  <xs:element name="YomiFirstName" type="xs:string"/>
  <xs:element name="YomiLastName" type="xs:string"/>
  <xs:element name="YomiCompanyName" type="xs:string"/>
  <xs:element name="OfficeLocation" type="xs:string"/>
  <xs:element name="RadioPhoneNumber" type="xs:string"/>
  <xs:element name="Picture" type="xs:string"/>
  <xs:element name="Categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Category" type="xs:string" minOccurs="0"
            maxOccurs="300"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Children">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element name="Child" type="xs:string" minOccurs="0"
            maxOccurs="300"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="AllProps">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="Anniversary"/>
        <xs:element ref="AssistantName"/>
        <xs:element ref="AssistantPhoneNumber"/>
        <xs:element ref="Birthday"/>
        <xs:element ref="Business2PhoneNumber"/>
        <xs:element ref="BusinessAddressCity"/>
        <xs:element ref="BusinessPhoneNumber"/>
        <xs:element ref="WebPage"/>
        <xs:element ref="BusinessAddressCountry"/>
        <xs:element ref="Department"/>
        <xs:element ref="Email1Address"/>
        <xs:element ref="Email2Address"/>
        <xs:element ref="Email3Address"/>
        <xs:element ref="BusinessFaxNumber"/>
        <xs:element ref="FileAs"/>
        <xs:element ref="Alias"/>
        <xs:element ref="WeightedRank"/>
        <xs:element ref="FirstName"/>
        <xs:element ref="MiddleName"/>
        <xs:element ref="HomeAddressCity"/>
        <xs:element ref="HomeAddressCountry"/>
        <xs:element ref="HomeFaxNumber"/>
        <xs:element ref="HomePhoneNumber"/>
        <xs:element ref="Home2PhoneNumber"/>
        <xs:element ref="HomeAddressPostalCode"/>
        <xs:element ref="HomeAddressState"/>
        <xs:element ref="HomeAddressStreet"/>
        <xs:element ref="MobilePhoneNumber"/>
        <xs:element ref="Suffix"/>
        <xs:element ref="CompanyName"/>
        <xs:element ref="OtherAddressCity"/>
        <xs:element ref="OtherAddressCountry"/>
        <xs:element ref="CarPhoneNumber"/>
        <xs:element ref="OtherAddressPostalCode"/>
        <xs:element ref="OtherAddressState"/>
        <xs:element ref="OtherAddressStreet"/>
        <xs:element ref="PagerNumber"/>
        <xs:element ref="Title"/>
        <xs:element ref="BusinessAddressPostalCode"/>
        <xs:element ref="LastName"/>
        <xs:element ref="Spouse"/>
        <xs:element ref="BusinessAddressState"/>
        <xs:element ref="BusinessAddressStreet"/>
        <xs:element ref="JobTitle"/>
        <xs:element ref="YomiFirstName"/>
        <xs:element ref="YomiLastName"/>
        <xs:element ref="YomiCompanyName"/>
        <xs:element ref="OfficeLocation"/>
        <xs:element ref="RadioPhoneNumber"/>
        <xs:element ref="Picture"/>
        <xs:element ref="Categories"/>
        <xs:element ref="Children"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="GhostingProps">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="Anniversary" />
        <xs:element ref="Birthday" />
        <xs:element ref="WebPage" />
        <xs:element ref="Children" />
        <xs:element ref="BusinessAddressCountry" />
        <xs:element ref="Department" />
        <xs:element ref="Email1Address" />
        <xs:element ref="Email2Address" />
        <xs:element ref="Email3Address" />
        <xs:element ref="BusinessFaxNumber" />
        <xs:element ref="FileAs" />
        <xs:element ref="FirstName" />
        <xs:element ref="HomeAddressCity" />
        <xs:element ref="HomeAddressCountry" />
        <xs:element ref="HomeFaxNumber" />
        <xs:element ref="HomePhoneNumber" />
        <xs:element ref="Home2PhoneNumber" />
        <xs:element ref="HomeAddressPostalCode" />
        <xs:element ref="HomeAddressState" />
        <xs:element ref="HomeAddressStreet" />
        <xs:element ref="BusinessAddressCity" />
        <xs:element ref="MiddleName" />
        <xs:element ref="MobilePhoneNumber" />
        <xs:element ref="Suffix" />
        <xs:element ref="CompanyName" />
        <xs:element ref="OtherAddressCity" />
        <xs:element ref="OtherAddressCountry" />
        <xs:element ref="CarPhoneNumber" />
        <xs:element ref="OtherAddressPostalCode" />
        <xs:element ref="OtherAddressState" />
        <xs:element ref="OtherAddressStreet" />
        <xs:element ref="PagerNumber" />
        <xs:element ref="Title" />
        <xs:element ref="BusinessAddressPostalCode" />
        <xs:element ref="AssistantName" />
        <xs:element ref="AssistantPhoneNumber" />
        <xs:element ref="LastName" />
        <xs:element ref="Spouse" />
        <xs:element ref="BusinessAddressState" />
        <xs:element ref="BusinessAddressStreet" />
        <xs:element ref="BusinessPhoneNumber" />
        <xs:element ref="Business2PhoneNumber" />
        <xs:element ref="JobTitle" />
        <xs:element ref="YomiFirstName" />
        <xs:element ref="YomiLastName" />
        <xs:element ref="YomiCompanyName" />
        <xs:element ref="OfficeLocation" />
        <xs:element ref="RadioPhoneNumber" />
        <xs:element ref="Picture" />
        <xs:element ref="Categories" />
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="TopLevelSchemaProps">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="Anniversary" />
        <xs:element ref="Birthday" />
        <xs:element ref="WebPage" />
        <xs:element ref="Children" />
        <xs:element ref="BusinessAddressCountry" />
        <xs:element ref="Department" />
        <xs:element ref="Email1Address" />
        <xs:element ref="Email2Address" />
        <xs:element ref="Email3Address" />
        <xs:element ref="BusinessFaxNumber" />
        <xs:element ref="FileAs" />
        <xs:element ref="FirstName" />
        <xs:element ref="HomeAddressCity" />
        <xs:element ref="HomeAddressCountry" />
        <xs:element ref="HomeFaxNumber" />
        <xs:element ref="HomePhoneNumber" />
        <xs:element ref="Home2PhoneNumber" />
        <xs:element ref="HomeAddressPostalCode" />
        <xs:element ref="HomeAddressState" />
        <xs:element ref="HomeAddressStreet" />
        <xs:element ref="BusinessAddressCity" />
        <xs:element ref="MiddleName" />
        <xs:element ref="MobilePhoneNumber" />
        <xs:element ref="Suffix" />
        <xs:element ref="CompanyName" />
        <xs:element ref="OtherAddressCity" />
        <xs:element ref="OtherAddressCountry" />
        <xs:element ref="CarPhoneNumber" />
        <xs:element ref="OtherAddressPostalCode" />
        <xs:element ref="OtherAddressState" />
        <xs:element ref="OtherAddressStreet" />
        <xs:element ref="PagerNumber" />
        <xs:element ref="Title" />
        <xs:element ref="BusinessAddressPostalCode" />
        <xs:element ref="AssistantName" />
        <xs:element ref="AssistantPhoneNumber" />
        <xs:element ref="LastName" />
        <xs:element ref="Spouse" />
        <xs:element ref="BusinessAddressState" />
        <xs:element ref="BusinessAddressStreet" />
        <xs:element ref="BusinessPhoneNumber" />
        <xs:element ref="Business2PhoneNumber" />
        <xs:element ref="JobTitle" />
        <xs:element ref="YomiFirstName" />
        <xs:element ref="YomiLastName" />
        <xs:element ref="YomiCompanyName" />
        <xs:element ref="OfficeLocation" />
        <xs:element ref="RadioPhoneNumber" />
        <xs:element ref="Categories" />
        <xs:element ref="Picture" />
      </xs:choice>
    </xs:sequence>
  </xs:group>
</xs:schema>