ExchangeWebServices/Source/Common/Proxy/EWSStack.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/messages">
  <wsdl:types>
    <xs:schema id="messages" elementFormDefault="qualified" version="Exchange2016" xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:tns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns="http://schemas.microsoft.com/exchange/services/2006/messages">
      <xs:import namespace="http://schemas.microsoft.com/exchange/services/2006/types" schemaLocation="MS-OXWSCORE-types.xsd"/>
      <xs:include schemaLocation="MS-OXWSCORE-messages.xsd"/>
      <xs:include schemaLocation="MS-OXWSFOLD-messages.xsd"/>
      <xs:include schemaLocation="MS-OXWSATT-messages.xsd" />
      <xs:include schemaLocation="MS-OXWSBTRF-messages.xsd"/>
      <xs:include schemaLocation="MS-OXWSSYNC-messages.xsd"/>
      <xs:include schemaLocation="MS-OXWSSRCH-messages.xsd" />
      <xs:include schemaLocation="MS-OXWSCDATA-messages.xsd" />
      <xs:include schemaLocation="MS-OXWSUSRCFG-messages.xsd" />      
      <!-- Add global elements and types from messages.xsd -->
    </xs:schema>
    <xs:schema id="types" elementFormDefault="qualified" version="Exchange2016" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/types" xmlns="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:tns="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
      <!-- Add global elements and types from types.xsd -->
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="ExchangeServicePortType">
    <!--Elements from MS-OXWSCORE.wsdl-->
    <wsdl:operation name="GetItem">
      <wsdl:input message="tns:GetItemSoapIn"/>
      <wsdl:output message="tns:GetItemSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="CreateItem">
      <wsdl:input message="tns:CreateItemSoapIn"/>
      <wsdl:output message="tns:CreateItemSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <wsdl:input message="tns:DeleteItemSoapIn"/>
      <wsdl:output message="tns:DeleteItemSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <wsdl:input message="tns:UpdateItemSoapIn"/>
      <wsdl:output message="tns:UpdateItemSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateItemInRecoverableItems">
      <wsdl:input message="tns:UpdateItemInRecoverableItemsSoapIn"/>
      <wsdl:output message="tns:UpdateItemInRecoverableItemsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="MarkAllItemsAsRead">
      <wsdl:input message="tns:MarkAllItemsAsReadSoapIn"/>
      <wsdl:output message="tns:MarkAllItemsAsReadSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="MarkAsJunk">
      <wsdl:input message="tns:MarkAsJunkSoapIn" />
      <wsdl:output message="tns:MarkAsJunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveItem">
      <wsdl:input message="tns:MoveItemSoapIn"/>
      <wsdl:output message="tns:MoveItemSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="CopyItem">
      <wsdl:input message="tns:CopyItemSoapIn"/>
      <wsdl:output message="tns:CopyItemSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SendItem">
      <wsdl:input message="tns:SendItemSoapIn"/>
      <wsdl:output message="tns:SendItemSoapOut"/>
    </wsdl:operation>
    <!--Elements from MS-OXWSFOLD.wsdl-->
    <wsdl:operation name="CreateFolder">
      <wsdl:input message="tns:CreateFolderSoapIn" />
      <wsdl:output message="tns:CreateFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <wsdl:input message="tns:DeleteFolderSoapIn" />
      <wsdl:output message="tns:DeleteFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmptyFolder">
      <wsdl:input message="tns:EmptyFolderSoapIn" />
      <wsdl:output message="tns:EmptyFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFolder">
      <wsdl:input message="tns:UpdateFolderSoapIn" />
      <wsdl:output message="tns:UpdateFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveFolder">
      <wsdl:input message="tns:MoveFolderSoapIn" />
      <wsdl:output message="tns:MoveFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CopyFolder">
      <wsdl:input message="tns:CopyFolderSoapIn" />
      <wsdl:output message="tns:CopyFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFolder">
      <wsdl:input message="tns:GetFolderSoapIn" />
      <wsdl:output message="tns:GetFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateManagedFolder">
      <wsdl:input message="tns:CreateManagedFolderSoapIn" />
      <wsdl:output message="tns:CreateManagedFolderSoapOut" />
    </wsdl:operation>
    <!--Elements from MS-OXWSATT.wsdl-->
    <wsdl:operation name="CreateAttachment" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:CreateAttachmentSoapIn"/>
      <wsdl:output message="tns:CreateAttachmentSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:DeleteAttachmentSoapIn"/>
      <wsdl:output message="tns:DeleteAttachmentSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetAttachment" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:GetAttachmentSoapIn"/>
      <wsdl:output message="tns:GetAttachmentSoapOut"/>
    </wsdl:operation>
    <!--Elements from MS-OXWSBTRF.wsdl-->
    <wsdl:operation name="UploadItems">
      <wsdl:input message="tns:UploadItemsSoapIn"/>
      <wsdl:output message="tns:UploadItemsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ExportItems">
      <wsdl:input message="tns:ExportItemsSoapIn"/>
      <wsdl:output message="tns:ExportItemsSoapOut"/>
    </wsdl:operation>
    <!--Elements from MS-OXWSSYNC.wsdl-->
    <wsdl:operation name="SyncFolderHierarchy">
      <wsdl:input message="tns:SyncFolderHierarchySoapIn" />
      <wsdl:output message="tns:SyncFolderHierarchySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncFolderItems">
      <wsdl:input message="tns:SyncFolderItemsSoapIn" />
      <wsdl:output message="tns:SyncFolderItemsSoapOut" />
    </wsdl:operation>
    <!--Elements from MS-OXWSSRCH.wsdl-->
    <wsdl:operation name="FindFolder">
      <wsdl:input message="tns:FindFolderSoapIn"/>
      <wsdl:output message="tns:FindFolderSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindItem">
      <wsdl:input message="tns:FindItemSoapIn"/>
      <wsdl:output message="tns:FindItemSoapOut"/>
    </wsdl:operation>
    <!--Elements from MS-OXWSDLGM.wsdl-->
    <wsdl:operation name="GetDelegate">
      <wsdl:input message="tns:GetDelegateSoapIn" />
      <wsdl:output message="tns:GetDelegateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDelegate">
      <wsdl:input message="tns:AddDelegateSoapIn" />
      <wsdl:output message="tns:AddDelegateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDelegate">
      <wsdl:input message="tns:RemoveDelegateSoapIn" />
      <wsdl:output message="tns:RemoveDelegateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDelegate">
      <wsdl:input message="tns:UpdateDelegateSoapIn" />
      <wsdl:output message="tns:UpdateDelegateSoapOut" />
    </wsdl:operation>
    <!--Elements from MS-OXWSCONT.wsdl-->
    <wsdl:operation name="GetUserPhoto">
      <wsdl:input message="tns:GetUserPhotoSoapIn"/>
      <wsdl:output message="tns:GetUserPhotoSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SetUserPhoto">
      <wsdl:input message="tns:SetUserPhotoSoapIn"/>
      <wsdl:output message="tns:SetUserPhotoSoapOut"/>
    </wsdl:operation>
    <!--Elements from MS-OXWSUSRCFG.wsdl-->
    <wsdl:operation name="CreateUserConfiguration">
      <wsdl:input message="tns:CreateUserConfigurationSoapIn"/>
      <wsdl:output message="tns:CreateUserConfigurationSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserConfiguration">
      <wsdl:input message="tns:DeleteUserConfigurationSoapIn"/>
      <wsdl:output message="tns:DeleteUserConfigurationSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetUserConfiguration">
      <wsdl:input message="tns:GetUserConfigurationSoapIn"/>
      <wsdl:output message="tns:GetUserConfigurationSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserConfiguration">
      <wsdl:input message="tns:UpdateUserConfigurationSoapIn"/>
      <wsdl:output message="tns:UpdateUserConfigurationSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExchangeServiceBinding" type="tns:ExchangeServicePortType">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.0" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"/>
    </wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <!--Elements from MS-OXWSCORE.wsdl-->
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetItem"/>
      <wsdl:input>
        <soap:header message="tns:GetItemSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:GetItemSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:GetItemSoapIn" part="RequestVersion" use="literal"/>
        <soap:header message="tns:GetItemSoapIn" part="TimeZoneContext" use="literal"/>
        <soap:header message="tns:GetItemSoapIn" part="DateTimePrecision" use="literal"/>
        <soap:header message="tns:GetItemSoapIn" part="ManagementRole" use="literal" />
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="GetItemResult" use="literal"/>
        <soap:header message="tns:GetItemSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateItem">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateItem"/>
      <wsdl:input>
        <soap:header message="tns:CreateItemSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:CreateItemSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:CreateItemSoapIn" part="RequestVersion" use="literal"/>
        <soap:header message="tns:CreateItemSoapIn" part="TimeZoneContext" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="CreateItemResult" use="literal"/>
        <soap:header message="tns:CreateItemSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/DeleteItem"/>
      <wsdl:input>
        <soap:header message="tns:DeleteItemSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:DeleteItemSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:DeleteItemSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="DeleteItemResult" use="literal"/>
        <soap:header message="tns:DeleteItemSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UpdateItem"/>
      <wsdl:input>
        <soap:header message="tns:UpdateItemSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:UpdateItemSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:UpdateItemSoapIn" part="RequestVersion" use="literal"/>
        <soap:header message="tns:UpdateItemSoapIn" part="TimeZoneContext" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="UpdateItemResult" use="literal"/>
        <soap:header message="tns:UpdateItemSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItemInRecoverableItems">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UpdateItemInRecoverableItems"/>
      <wsdl:input>
        <soap:header message="tns:UpdateItemInRecoverableItemsSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:UpdateItemInRecoverableItemsSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:UpdateItemInRecoverableItemsSoapIn" part="RequestVersion" use="literal"/>
        <soap:header message="tns:UpdateItemInRecoverableItemsSoapIn" part="TimeZoneContext" use="literal"/>
        <soap:header message="tns:UpdateItemInRecoverableItemsSoapIn" part="ManagementRole" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="UpdateItemInRecoverableItemsResult" use="literal"/>
        <soap:header message="tns:UpdateItemInRecoverableItemsSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkAllItemsAsRead">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/MarkAllItemsAsRead"/>
      <wsdl:input>
        <soap:header message="tns:MarkAllItemsAsReadSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:MarkAllItemsAsReadSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:MarkAllItemsAsReadSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="MarkAllItemsAsReadResult" use="literal"/>
        <soap:header message="tns:MarkAllItemsAsReadSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkAsJunk">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/MarkAsJunk" />
      <wsdl:input>
        <soap:header message="tns:MarkAsJunkSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:MarkAsJunkSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:MarkAsJunkSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="MarkAsJunkResult" use="literal" />
        <soap:header message="tns:MarkAsJunkSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveItem">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/MoveItem"/>
      <wsdl:input>
        <soap:header message="tns:MoveItemSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:MoveItemSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:MoveItemSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="MoveItemResult" use="literal"/>
        <soap:header message="tns:MoveItemSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyItem">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CopyItem"/>
      <wsdl:input>
        <soap:header message="tns:CopyItemSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:CopyItemSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:CopyItemSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="CopyItemResult" use="literal"/>
        <soap:header message="tns:CopyItemSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendItem">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SendItem"/>
      <wsdl:input>
        <soap:header message="tns:SendItemSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:SendItemSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:SendItemSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="SendItemResult" use="literal"/>
        <soap:header message="tns:SendItemSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!--Elements from MS-OXWSFOLD.wsdl-->
    <wsdl:operation name="GetFolder">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetFolder" />
      <wsdl:input>
        <soap:header message="tns:GetFolderSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:GetFolderSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:GetFolderSoapIn" part="RequestVersion" use="literal"/>
        <soap:header message="tns:GetFolderSoapIn" part="TimeZoneContext" use="literal"/>
        <soap:header message="tns:GetFolderSoapIn" part="ManagementRole" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="GetFolderResult" use="literal" />
        <soap:header message="tns:GetFolderSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFolder">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateFolder" />
      <wsdl:input>
        <soap:header message="tns:CreateFolderSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:CreateFolderSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:CreateFolderSoapIn" part="RequestVersion" use="literal"/>
        <soap:header message="tns:CreateFolderSoapIn" part="TimeZoneContext" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="CreateFolderResult" use="literal" />
        <soap:header message="tns:CreateFolderSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/DeleteFolder" />
      <wsdl:input>
        <soap:header message="tns:DeleteFolderSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:DeleteFolderSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:DeleteFolderSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="DeleteFolderResult" use="literal" />
        <soap:header message="tns:DeleteFolderSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmptyFolder">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/EmptyFolder" />
      <wsdl:input>
        <soap:header message="tns:EmptyFolderSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:EmptyFolderSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:EmptyFolderSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="EmptyFolderResult" use="literal" />
        <soap:header message="tns:EmptyFolderSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolder">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UpdateFolder" />
      <wsdl:input>
        <soap:header message="tns:UpdateFolderSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:UpdateFolderSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:UpdateFolderSoapIn" part="RequestVersion" use="literal"/>
        <soap:header message="tns:UpdateFolderSoapIn" part="TimeZoneContext" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="UpdateFolderResult" use="literal" />
        <soap:header message="tns:UpdateFolderSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveFolder">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/MoveFolder" />
      <wsdl:input>
        <soap:header message="tns:MoveFolderSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:MoveFolderSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:MoveFolderSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="MoveFolderResult" use="literal" />
        <soap:header message="tns:MoveFolderSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyFolder">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CopyFolder" />
      <wsdl:input>
        <soap:header message="tns:CopyFolderSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:CopyFolderSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:CopyFolderSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="CopyFolderResult" use="literal" />
        <soap:header message="tns:CopyFolderSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateManagedFolder">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateManagedFolder" />
      <wsdl:input>
        <soap:header message="tns:CreateManagedFolderSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:CreateManagedFolderSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:CreateManagedFolderSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="CreateManagedFolderResult" use="literal" />
        <soap:header message="tns:CreateManagedFolderSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!--Elements from MS-OXWSATT.wsdl-->
    <wsdl:operation name="CreateAttachment" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateAttachment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:header message="tns:CreateAttachmentSoapIn" part="Impersonation" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:header message="tns:CreateAttachmentSoapIn" part="MailboxCulture" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:header message="tns:CreateAttachmentSoapIn" part="RequestVersion" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:header message="tns:CreateAttachmentSoapIn" part="TimeZoneContext" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:body parts="request" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="CreateAttachmentResult" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:header message="tns:CreateAttachmentSoapOut" part="ServerVersion" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/DeleteAttachment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:header message="tns:DeleteAttachmentSoapIn" part="Impersonation" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:header message="tns:DeleteAttachmentSoapIn" part="MailboxCulture" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:header message="tns:DeleteAttachmentSoapIn" part="RequestVersion" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:body parts="request" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="DeleteAttachmentResult" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:header message="tns:DeleteAttachmentSoapOut" part="ServerVersion" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachment" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetAttachment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:header message="tns:GetAttachmentSoapIn" part="Impersonation" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:header message="tns:GetAttachmentSoapIn" part="MailboxCulture" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:header message="tns:GetAttachmentSoapIn" part="RequestVersion" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:header message="tns:GetAttachmentSoapIn" part="TimeZoneContext" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:body parts="request" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="GetAttachmentResult" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <soap:header message="tns:GetAttachmentSoapOut" part="ServerVersion" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <!--Elements from MS-OXWSBTRF.wsdl-->
    <wsdl:operation name="UploadItems">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UploadItems"/>
      <wsdl:input>
        <soap:header message="tns:UploadItemsSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:UploadItemsSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:UploadItemsSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="UploadItemsResult" use="literal"/>
        <soap:header message="tns:UploadItemsSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportItems">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/ExportItems"/>
      <wsdl:input>
        <soap:header message="tns:ExportItemsSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:ExportItemsSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:ExportItemsSoapIn" part="RequestVersion" use="literal"/>
        <soap:header message="tns:ExportItemsSoapIn" part="ManagementRole" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="ExportItemsResult" use="literal"/>
        <soap:header message="tns:ExportItemsSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!--Elements from MS-OXWSSYNC.wsdl-->
    <wsdl:operation name="SyncFolderHierarchy">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SyncFolderHierarchy" />
      <wsdl:input>
        <soap:header message="tns:SyncFolderHierarchySoapIn" part="Impersonation" use="literal"></soap:header>
        <soap:header message="tns:SyncFolderHierarchySoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:SyncFolderHierarchySoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="SyncFolderHierarchyResult" use="literal" />
        <soap:header message="tns:SyncFolderHierarchySoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncFolderItems">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SyncFolderItems" />
      <wsdl:input>
        <soap:header message="tns:SyncFolderItemsSoapIn" part="Impersonation" use="literal"></soap:header>
        <soap:header message="tns:SyncFolderItemsSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:SyncFolderItemsSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="SyncFolderItemsResult" use="literal" />
        <soap:header message="tns:SyncFolderItemsSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!--Elements from MS-OXWSSRCH.wsdl-->
    <wsdl:operation name="FindFolder">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/FindFolder"/>
      <wsdl:input>
        <soap:header message="tns:FindFolderSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:FindFolderSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:FindFolderSoapIn" part="RequestVersion" use="literal"/>
        <soap:header message="tns:FindFolderSoapIn" part="TimeZoneContext" use="literal"/>
        <soap:header message="tns:FindFolderSoapIn" part="ManagementRole" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="FindFolderResult" use="literal" />
        <soap:header message="tns:FindFolderSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindItem">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/FindItem"/>
      <wsdl:input>
        <soap:header message="tns:FindItemSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:FindItemSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:FindItemSoapIn" part="RequestVersion" use="literal"/>
        <soap:header message="tns:FindItemSoapIn" part="TimeZoneContext" use="literal"/>
        <soap:header message="tns:FindItemSoapIn" part="DateTimePrecision" use="literal" />
        <soap:header message="tns:FindItemSoapIn" part="ManagementRole" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="FindItemResult" use="literal" />
        <soap:header message="tns:FindItemSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!--Elements from MS-OXWSDLGM.wsdl-->
    <wsdl:operation name="GetDelegate">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetDelegate" />
      <wsdl:input>
        <soap:header message="tns:GetDelegateSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:GetDelegateSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:GetDelegateSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="GetDelegateResult" use="literal" />
        <soap:header message="tns:GetDelegateSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDelegate">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/AddDelegate" />
      <wsdl:input>
        <soap:header message="tns:AddDelegateSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:AddDelegateSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:AddDelegateSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="AddDelegateResult" use="literal" />
        <soap:header message="tns:AddDelegateSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDelegate">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/RemoveDelegate" />
      <wsdl:input>
        <soap:header message="tns:RemoveDelegateSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:RemoveDelegateSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:RemoveDelegateSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="RemoveDelegateResult" use="literal" />
        <soap:header message="tns:RemoveDelegateSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDelegate">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UpdateDelegate" />
      <wsdl:input>
        <soap:header message="tns:UpdateDelegateSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:UpdateDelegateSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:UpdateDelegateSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="UpdateDelegateResult" use="literal" />
        <soap:header message="tns:UpdateDelegateSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!--Elements from MS-OXWSCONT.wsdl-->
    <wsdl:operation name="GetUserPhoto">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetUserPhoto"/>
      <wsdl:input>
        <soap:header message="tns:GetUserPhotoSoapIn"
              part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="GetUserPhotoResult" use="literal"/>
        <soap:header message="tns:GetUserPhotoSoapOut"
              part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserPhoto">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SetUserPhoto"/>
      <wsdl:input>
        <soap:header message="tns:SetUserPhotoSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="SetUserPhotoResult" use="literal"/>
        <soap:header message="tns:SetUserPhotoSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!--Elements from MS-OXWSUSRCFG.wsdl-->
    <wsdl:operation name="CreateUserConfiguration">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateUserConfiguration"/>
      <wsdl:input>
        <soap:header message="tns:CreateUserConfigurationSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:CreateUserConfigurationSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:CreateUserConfigurationSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="CreateUserConfigurationResult" use="literal"/>
        <soap:header message="tns:CreateUserConfigurationSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserConfiguration">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/DeleteUserConfiguration"/>
      <wsdl:input>
        <soap:header message="tns:DeleteUserConfigurationSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:DeleteUserConfigurationSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:DeleteUserConfigurationSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="DeleteUserConfigurationResult" use="literal"/>
        <soap:header message="tns:DeleteUserConfigurationSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserConfiguration">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetUserConfiguration"/>
      <wsdl:input>
        <soap:header message="tns:GetUserConfigurationSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:GetUserConfigurationSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:GetUserConfigurationSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="GetUserConfigurationResult" use="literal"/>
        <soap:header message="tns:GetUserConfigurationSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserConfiguration">
      <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UpdateUserConfiguration"/>
      <wsdl:input>
        <soap:header message="tns:UpdateUserConfigurationSoapIn" part="Impersonation" use="literal"/>
        <soap:header message="tns:UpdateUserConfigurationSoapIn" part="MailboxCulture" use="literal"/>
        <soap:header message="tns:UpdateUserConfigurationSoapIn" part="RequestVersion" use="literal"/>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="UpdateUserConfigurationResult" use="literal"/>
        <soap:header message="tns:UpdateUserConfigurationSoapOut" part="ServerVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!--Elements from MS-OXWSCORE.wsdl-->
  <wsdl:message name="GetItemSoapIn">
    <wsdl:part name="request" element="tns:GetItem"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    <wsdl:part name="TimeZoneContext" element="t:TimeZoneContext"/>
    <wsdl:part name="DateTimePrecision" element="t:DateTimePrecision"/>
    <wsdl:part name="ManagementRole" element="t:ManagementRole"/>
  </wsdl:message>
  <wsdl:message name="GetItemSoapOut">
    <wsdl:part name="GetItemResult" element="tns:GetItemResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="CreateItemSoapIn">
    <wsdl:part name="request" element="tns:CreateItem"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    <wsdl:part name="TimeZoneContext" element="t:TimeZoneContext"/>
  </wsdl:message>
  <wsdl:message name="CreateItemSoapOut">
    <wsdl:part name="CreateItemResult" element="tns:CreateItemResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="DeleteItemSoapIn">
    <wsdl:part name="request" element="tns:DeleteItem"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="DeleteItemSoapOut">
    <wsdl:part name="DeleteItemResult" element="tns:DeleteItemResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="UpdateItemSoapIn">
    <wsdl:part name="request" element="tns:UpdateItem"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    <wsdl:part name="TimeZoneContext" element="t:TimeZoneContext"/>
  </wsdl:message>
  <wsdl:message name="UpdateItemSoapOut">
    <wsdl:part name="UpdateItemResult" element="tns:UpdateItemResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="UpdateItemInRecoverableItemsSoapIn">
    <wsdl:part name="request" element="tns:UpdateItemInRecoverableItems"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    <wsdl:part name="TimeZoneContext" element="t:TimeZoneContext"/>
    <wsdl:part name="ManagementRole" element="t:ManagementRole"/>
  </wsdl:message>
  <wsdl:message name="UpdateItemInRecoverableItemsSoapOut">
    <wsdl:part name="UpdateItemInRecoverableItemsResult" element="tns:UpdateItemInRecoverableItemsResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="MarkAllItemsAsReadSoapIn">
    <wsdl:part name="request" element="tns:MarkAllItemsAsRead"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="MarkAllItemsAsReadSoapOut">
    <wsdl:part name="MarkAllItemsAsReadResult" element="tns:MarkAllItemsAsReadResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="MarkAsJunkSoapIn">
    <wsdl:part name="request" element="tns:MarkAsJunk" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="MarkAsJunkSoapOut">
    <wsdl:part name="MarkAsJunkResult" element="tns:MarkAsJunkResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="MoveItemSoapIn">
    <wsdl:part name="request" element="tns:MoveItem"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="MoveItemSoapOut">
    <wsdl:part name="MoveItemResult" element="tns:MoveItemResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="CopyItemSoapIn">
    <wsdl:part name="request" element="tns:CopyItem"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="CopyItemSoapOut">
    <wsdl:part name="CopyItemResult" element="tns:CopyItemResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="SendItemSoapIn">
    <wsdl:part name="request" element="tns:SendItem"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="SendItemSoapOut">
    <wsdl:part name="SendItemResult" element="tns:SendItemResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <!--Elements from MS-OXWSFOLD.wsdl-->
  <wsdl:message name="GetFolderSoapIn">
    <wsdl:part name="request" element="tns:GetFolder" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    <wsdl:part name="TimeZoneContext" element="t:TimeZoneContext"/>
    <wsdl:part name="ManagementRole" element="t:ManagementRole"/>
  </wsdl:message>
  <wsdl:message name="GetFolderSoapOut">
    <wsdl:part name="GetFolderResult" element="tns:GetFolderResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="CreateFolderSoapIn">
    <wsdl:part name="request" element="tns:CreateFolder" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    <wsdl:part name="TimeZoneContext" element="t:TimeZoneContext"/>
  </wsdl:message>
  <wsdl:message name="CreateFolderSoapOut">
    <wsdl:part name="CreateFolderResult" element="tns:CreateFolderResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="CreateManagedFolderSoapIn">
    <wsdl:part name="request" element="tns:CreateManagedFolder" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="CreateManagedFolderSoapOut">
    <wsdl:part name="CreateManagedFolderResult" element="tns:CreateManagedFolderResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="DeleteFolderSoapIn">
    <wsdl:part name="request" element="tns:DeleteFolder" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="DeleteFolderSoapOut">
    <wsdl:part name="DeleteFolderResult" element="tns:DeleteFolderResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="EmptyFolderSoapIn">
    <wsdl:part name="request" element="tns:EmptyFolder" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="EmptyFolderSoapOut">
    <wsdl:part name="EmptyFolderResult" element="tns:EmptyFolderResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="UpdateFolderSoapIn">
    <wsdl:part name="request" element="tns:UpdateFolder" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    <wsdl:part name="TimeZoneContext" element="t:TimeZoneContext"/>
  </wsdl:message>
  <wsdl:message name="UpdateFolderSoapOut">
    <wsdl:part name="UpdateFolderResult" element="tns:UpdateFolderResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="MoveFolderSoapIn">
    <wsdl:part name="request" element="tns:MoveFolder" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="MoveFolderSoapOut">
    <wsdl:part name="MoveFolderResult" element="tns:MoveFolderResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="CopyFolderSoapIn">
    <wsdl:part name="request" element="tns:CopyFolder" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="CopyFolderSoapOut">
    <wsdl:part name="CopyFolderResult" element="tns:CopyFolderResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <!--Elements from MS-OXWSATT.wsdl-->
  <wsdl:message name="CreateAttachmentSoapIn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part name="request" element="tns:CreateAttachment"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    <wsdl:part name="TimeZoneContext" element="t:TimeZoneContext"/>
  </wsdl:message>
  <wsdl:message name="CreateAttachmentSoapOut" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part name="CreateAttachmentResult" element="tns:CreateAttachmentResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="DeleteAttachmentSoapIn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part name="request" element="tns:DeleteAttachment"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="DeleteAttachmentSoapOut" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part name="DeleteAttachmentResult" element="tns:DeleteAttachmentResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="GetAttachmentSoapIn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part name="request" element="tns:GetAttachment"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    <wsdl:part name="TimeZoneContext" element="t:TimeZoneContext"/>
  </wsdl:message>
  <wsdl:message name="GetAttachmentSoapOut" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part name="GetAttachmentResult" element="tns:GetAttachmentResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <!--Elements from MS-OXWSBTRF.wsdl-->
  <wsdl:message name="UploadItemsSoapIn">
    <wsdl:part name="request" element="tns:UploadItems"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="UploadItemsSoapOut">
    <wsdl:part name="UploadItemsResult" element="tns:UploadItemsResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="ExportItemsSoapIn">
    <wsdl:part name="request" element="tns:ExportItems"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    <wsdl:part name="ManagementRole" element="t:ManagementRole"/>
  </wsdl:message>
  <wsdl:message name="ExportItemsSoapOut">
    <wsdl:part name="ExportItemsResult" element="tns:ExportItemsResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <!--Elements from MS-OXWSSYNC.wsdl-->
  <wsdl:message name="SyncFolderHierarchySoapIn">
    <wsdl:part name="request" element="tns:SyncFolderHierarchy" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="SyncFolderHierarchySoapOut">
    <wsdl:part name="SyncFolderHierarchyResult" element="tns:SyncFolderHierarchyResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="SyncFolderItemsSoapIn">
    <wsdl:part name="request" element="tns:SyncFolderItems" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="SyncFolderItemsSoapOut">
    <wsdl:part name="SyncFolderItemsResult" element="tns:SyncFolderItemsResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <!--Elements from MS-OXWSSRCH.wsdl-->
  <wsdl:message name="FindItemSoapIn">
    <wsdl:part name="request" element="tns:FindItem"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    <wsdl:part name="TimeZoneContext" element="t:TimeZoneContext"/>
    <wsdl:part name="DateTimePrecision" element="t:DateTimePrecision" />
    <wsdl:part name="ManagementRole" element="t:ManagementRole" />
  </wsdl:message>
  <wsdl:message name="FindItemSoapOut">
    <wsdl:part name="FindItemResult" element="tns:FindItemResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="FindFolderSoapIn">
    <wsdl:part name="request" element="tns:FindFolder"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    <wsdl:part name="TimeZoneContext" element="t:TimeZoneContext"/>
    <wsdl:part name="ManagementRole" element="t:ManagementRole" />
  </wsdl:message>
  <wsdl:message name="FindFolderSoapOut">
    <wsdl:part name="FindFolderResult" element="tns:FindFolderResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <!--Elements from MS-OXWSDLGM.wsdl-->
  <wsdl:message name="GetDelegateSoapIn">
    <wsdl:part name="request" element="tns:GetDelegate" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="GetDelegateSoapOut">
    <wsdl:part name="GetDelegateResult" element="tns:GetDelegateResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="AddDelegateSoapIn">
    <wsdl:part name="request" element="tns:AddDelegate" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="AddDelegateSoapOut">
    <wsdl:part name="AddDelegateResult" element="tns:AddDelegateResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="RemoveDelegateSoapIn">
    <wsdl:part name="request" element="tns:RemoveDelegate" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="RemoveDelegateSoapOut">
    <wsdl:part name="RemoveDelegateResult" element="tns:RemoveDelegateResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="UpdateDelegateSoapIn">
    <wsdl:part name="request" element="tns:UpdateDelegate" />
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="UpdateDelegateSoapOut">
    <wsdl:part name="UpdateDelegateResult" element="tns:UpdateDelegateResponse" />
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <!--Elements from MS-OXWSCONT.wsdl-->
  <wsdl:message name="GetUserPhotoSoapIn">
    <wsdl:part name="request" element="t:GetUserPhoto"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="GetUserPhotoSoapOut">
    <wsdl:part name="GetUserPhotoResult" element="t:GetUserPhotoResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="SetUserPhotoSoapIn">
    <wsdl:part name="request" element="t:SetUserPhoto"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="SetUserPhotoSoapOut">
    <wsdl:part name="SetUserPhotoResult" element="t:SetUserPhotoResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <!--Elements from MS-OXWSUSRCFG.wsdl-->
  <wsdl:message name="CreateUserConfigurationSoapIn">
    <wsdl:part name="request" element="tns:CreateUserConfiguration"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="CreateUserConfigurationSoapOut">
    <wsdl:part name="CreateUserConfigurationResult" element="tns:CreateUserConfigurationResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="DeleteUserConfigurationSoapIn">
    <wsdl:part name="request" element="tns:DeleteUserConfiguration"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="DeleteUserConfigurationSoapOut">
    <wsdl:part name="DeleteUserConfigurationResult" element="tns:DeleteUserConfigurationResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="GetUserConfigurationSoapIn">
    <wsdl:part name="request" element="tns:GetUserConfiguration"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="GetUserConfigurationSoapOut">
    <wsdl:part name="GetUserConfigurationResult" element="tns:GetUserConfigurationResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="UpdateUserConfigurationSoapIn">
    <wsdl:part name="request" element="tns:UpdateUserConfiguration"/>
    <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
    <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
    <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
  </wsdl:message>
  <wsdl:message name="UpdateUserConfigurationSoapOut">
    <wsdl:part name="UpdateUserConfigurationResult" element="tns:UpdateUserConfigurationResponse"/>
    <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
  </wsdl:message>
</wsdl:definitions>
